<template>
  <mapa-modal :value="isShowChangeOrder" @cancel="handlerClickCancel">
    <v-card-title v-if="isAddMode" class="headline pt-0 pb-1">Новый заказ</v-card-title>
    <v-card-title
      v-if="isUpdateMode"
      class="headline pt-0 pb-1"
    >Редактировать заказ №{{selectOrder.id}}</v-card-title>
    <v-card-text>
      <v-form ref="form" v-model="valid">
        <v-row dense class="mt-4">
          <v-col cols="5" md="4">
            <!--Выбор услуги-->
            <v-select
              full-width
              dense
              label="На основе услуги"
              :rules="[rules.requiredSelect]"
              :readonly="isUpdateMode"
              v-model="selectedService"
              :items="services"
              item-text="name"
              item-value="id"
              return-object
              color="teal lighten-3"
            />
          </v-col>
          <v-col cols>
            <!--Выбор тарифа-->
            <v-select
              full-width
              dense
              label="Тариф"
              :readonly="isUpdateMode"
              v-model="selectedTariff"
              :rules="[rules.requiredSelect]"
              :items="tariffsForSelected"
              item-text="name"
              return-object
              color="teal lighten-3"
              @change="handlerSelectedTariff"
            >
              <template v-slot:item="{ item }">
                <span>{{item.name}}, {{item.typeTariffText}}, {{item.price}}{{item.currency}}</span>
              </template>
              <template v-slot:selection="{ item }">
                <span>{{item.name}}, {{item.typeTariffText}}, {{item.price}}{{item.currency}}</span>
              </template>
            </v-select>
          </v-col>
          <v-col cols="12" class="pa-0" />
          <!--выбранный ученик-->
          <v-col v-if="isUpdateMode" cols="auto">
            <v-row align="center">
              <v-col cols="auto">
                <v-avatar>
                  <v-img :src="selectOrder.recipient.icon" alt="avatar"></v-img>
                </v-avatar>
              </v-col>
              <v-col cols="auto">
                <span class="subtitle-2">Для ученика:</span>
                <br />
                <span class="body-1 font-weight-bold">{{selectOrder.recipient.fullName}}</span>
              </v-col>
            </v-row>
          </v-col>
          <!--изменить статус-->
          <v-col cols="3" class="pt-6 ml-4">
            <v-select
              label="Статус"
              outlined
              dense
              v-if="isUpdateMode && order"
              v-model="order.status"
              :items="Object.values(typesStatus)"
              color="teal lighten-3"
            />
          </v-col>
          <!-- добавить ученика -->
          <v-col v-if="isAddMode && order" cols="12">
            <mapa-select-chips
              :rules="[rules.requiredSelect]"
              :items="groupsChildrens"
              v-model="order.selectedChildrens"
            >
              добавить
              <br />учеников
            </mapa-select-chips>
          </v-col>
          <v-col v-if="order" cols="12">
            <!--конфигурация заказа-->
            <v-tabs-items v-if="selectedTariff" :value="selectedTariff.typeTariff">
              <!-- для специальных услуг -->
              <v-tab-item :value="typesTariffs.abonementFactStandart.value">
                <!--специальное занятие по факту-->
                <form-special-by-facto @deleteDiscount="handlerDeleteDiscount" :order="order" />
              </v-tab-item>
              <v-tab-item :value="typesTariffs.abonementPlanStandart.value">
                <!--специальное занятие по плану-->
                <form-special-by-plan @deleteDiscount="handlerDeleteDiscount" :order="order" />
              </v-tab-item>
              <!-- для обычных услуг -->
              <v-tab-item :value="typesTariffs.abonementPlan.value">
                <!--занятие по плану-->
                <form-by-plan @deleteDiscount="handlerDeleteDiscount" :order="order" />
              </v-tab-item>
              <v-tab-item :value="typesTariffs.singleProduct.value">
                <!--товары и услуни-->
                <form-products-and-services @deleteDiscount="handlerDeleteDiscount" :order="order" />
              </v-tab-item>
              <v-tab-item :value="typesTariffs.abonementFact.value">
                <!--товары и услуни-->
                <form-products-and-services @deleteDiscount="handlerDeleteDiscount" :order="order" />
              </v-tab-item>
            </v-tabs-items>
          </v-col>
          <v-col cols="12" >
            <span class="subtitle-2">Автоматическое закрытие заказа: </span>
            <span class="body-1" v-if="order" > {{formattedDate(order.expireAt)}}</span>
          </v-col>
        </v-row>
      </v-form>
      <!--Кнопки действия-->
      <v-row>
        <v-col cols="12">
          <v-btn
            v-if="isAddMode"
            @click="handlerClickCreatedOrder"
            :loading="loading"
            :disabled="loading"
            class="white--text mx-2"
            height="45"
            color="teal lighten-3"
          >Создать заказ</v-btn>
          <v-btn
            v-if="isUpdateMode"
            @click="handlerClickUpdateOrder"
            :loading="loading"
            :disabled="loading"
            class="white--text mx-2"
            height="45"
            color="teal lighten-3"
          >Изменить заказ</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { TYPES_TARIFF_ALL } from '../../models/Service'
import {
  required,
  onlyInt,
  onlyPositive,
  requiredSelect
} from '../../utility/validRules'
import formByPlan from './OrdersModalChange/formByPlan'
import formSpecialByPlan from './OrdersModalChange/formSpecialByPlan'
import formSpecialByFacto from './OrdersModalChange/formSpecialByFacto'
import formProductsAndServices from './OrdersModalChange/formProductsAndServices'
import MapaSelectChips from '../MapaSelectChips'
import { TYPES_DISCOUNT } from '../../models/Discount'
import MapaModal from '../MapaModal'
import { TYPES_STATUS_ORDER } from '@/models/Order'
import { formattedDate } from '../../utility/date'

export default {
  name: 'OrdersModalChange',
  data() {
    return {
      selectedService: null,
      selectedTariff: null,
      discountForDelete: [],
      order: null,
      valid: false,
      loading: false,
      rules: {
        required,
        onlyInt,
        onlyPositive,
        requiredSelect
      },
      typesTariffs: TYPES_TARIFF_ALL,
      typesStatus: TYPES_STATUS_ORDER
    }
  },
  computed: {
    ...mapState('modalsModule', [
      'isShowChangeOrder',
      'currentModeModalChangeOrder',
      'modesModal'
    ]),
    ...mapState('ordersModule', ['selectOrder']),
    ...mapState('productsModule', ['products']),
    ...mapState('servicesModule', ['services']),
    ...mapState('authorisationModule', ['currentUsedCompany']),
    ...mapState('childrensModule', ['groupsChildrens']),
    isAddMode() {
      return this.currentModeModalChangeOrder === this.modesModal.ADD
    },
    isUpdateMode() {
      return this.currentModeModalChangeOrder === this.modesModal.UPDATE
    },
    tariffsForSelected() {
      // в зависимости от режима выбираем нужный
      if (this.isAddMode) return this.selectedService ? this.selectedService.products : this.products
      // при открытии модалки идет назначение выбранного тарифа
      if (this.isUpdateMode) return this.selectedTariff ? [this.selectedTariff] : []
      return []
    }
  },
  components: {
    formByPlan,
    formProductsAndServices,
    formSpecialByPlan,
    formSpecialByFacto,
    MapaSelectChips,
    MapaModal
  },
  created() { },
  methods: {
    ...mapMutations('ordersModule', ['SET_SELECT_ORDER']),
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_CHANGE_ORDER']),
    ...mapActions('ordersModule', ['saveOrder', 'updateOrder', 'saveDiscount', 'updateDiscount', 'deleteDiscount', 'notifySaveOrders']),
    handlerDeleteDiscount(dis) {
      // смотрим есть ли он в базе, и если есть добавляем на удаление
      if (dis.id) this.discountForDelete.push(dis)
    },
    handlerSelectedTariff(tariff) {
      // если услуга не выбранна, то надо ее найти на основе выбранного тарифа
      if (!this.selectedService) {
        const service = this.services.find(s => s.id === tariff.service.id)
        if (service) this.selectedService = service
      }
      this.initCreatModeOrder()
    },
    async handlerClickCreatedOrder() {
      this.$refs.form.validate()
      if (!this.valid) return
      this.loading = true
      try {
        // Сохраняем заказы
        let ordersSave = await Promise.all(this.order.selectedChildrens.map(ch => {
          return this.saveOrder(this.preparationOrderData(ch.id))
        }))
        // показать уведомление
        this.notifySaveOrders(ordersSave)
        // выйти если не сохранили заказы
        if (!ordersSave) return
        // фильтруем от пустых
        ordersSave = ordersSave.filter(or => !!or)

        // сохраняем диcконт
        await Promise.all(ordersSave.map(async or => {
          return await Promise.all(this.order.discounts.map(dis => {
            return this.saveDiscount(this.preparationDiscountData(dis, or.id))
          }))
        }))
      } finally {
        this.handlerClickCancel()
      }
    },
    async handlerClickUpdateOrder() {
      this.$refs.form.validate()
      if (!this.valid) return
      this.loading = true
      try {
        // TODO оптимизировать обновление, для конкретных изменений
        // Обновляем заказ
        await this.updateOrder(this.preparationOrderData(this.selectOrder.recipient.id))
        // удаляем диcконты усли есть
        await Promise.all(this.discountForDelete.map(d => this.deleteDiscount(d)))
        // TODO оптимизировать обновление, для конкретных изменений
        // обновляем диcконты
        await Promise.all(this.selectOrder.discounts.map(dis => {
          let func
          // если при редактировании были добавлены новые диcконты то их сохраняем
          if (dis.id) func = this.updateDiscount
          else func = this.saveDiscount
          return func(this.preparationDiscountData(dis, this.selectOrder.id))
        }))
      } finally {
        this.handlerClickCancel()
      }
    },
    preparationDiscountData(dis, orderId) {
      return {
        id: dis.id,
        orderId: orderId,
        discount: dis.discount,
        discountType: dis.discountType
      }
    },
    preparationOrderData(childrenId) {
      const order = this.order
      return {
        id: order.id,
        typeTariff: this.selectedTariff.typeTariff,
        company: this.currentUsedCompany,
        productId: this.selectedTariff.id,
        recipientId: childrenId,
        serviceId: this.selectedService.id,
        amount: order.amount,
        itemsCount: order.itemsCount,
        startDate: order.startDate ? order.startDate + 'T00:00' : '',
        finishDate: order.finishDate ? order.finishDate + 'T00:00' : '',
        expireDays: order.expireDays,
        status: order.status,

        compensationTransferCosts: order.compensationTransferCosts,
        numberOfTransfers: order.numberOfTransfers,
        // TODO переделать на новую модель
        // discounts: [0],
        fixedCompensation: order.fixedCompensation,
        sicknessCompensation: order.sicknessCompensation,
        reasonableCompensation: order.reasonableCompensation,

        isAutoRenewable: order.isAutoRenewable,
        // Периодичность выставления счета
        billingFrequency: order.billingFrequency,
        // Период выставления счёта
        period: order.period,
        payDay: order.payDay,
        payWithin: order.payWithin,

        comment: order.comment
      }
    },
    initCreatModeOrder() {
      const tariff = this.selectedTariff
      this.order = {
        selectedChildrens: [],
        amount: tariff.price,
        itemsCount: tariff.quantity,
        createdAt: null,
        startDate: tariff.startDay,
        finishDate: tariff.finishDay,
        expireDays: tariff.expireDays,
        status: this.typesStatus.Active.value,

        compensationTransferCosts: tariff.compensationTransferCosts,
        numberOfTransfers: tariff.numberOfTransfers,
        // TODO переделать на новую модель
        discounts: [{
          discount: 0,
          discountType: TYPES_DISCOUNT.kopeck.value
        }],

        fixedCompensation: tariff.compenFromState,
        sicknessCompensation: tariff.compenDiseaseAmount,
        reasonableCompensation: tariff.compenApprovedAmount,

        isAutoRenewable: tariff.isAutoRenewable,
        // Периодичность выставления счета
        billingFrequency: tariff.billingFrequency,
        // Период выставления счёта
        period: tariff.period,
        payDay: tariff.payDay,
        payWithin: tariff.payWithin,

        comment: ''
      }
    },
    initEditModeOrder() {
      this.selectedService = this.selectOrder.product.service
      this.selectedTariff = this.selectOrder.product
      /** @type {(Order)} */
      const order = this.selectOrder
      this.order = {
        id: order.id,
        amount: order.amount,
        itemsCount: order.itemsCount,
        createdAt: order.createdAt,
        startDate: order.startDay,
        finishDate: order.finishDay,
        expireDays: order.expireDays,
        status: order.status,

        compensationTransferCosts: order.compensationTransferCosts,
        numberOfTransfers: order.numberOfTransfers,
        // копируем объекты что бы при сбросе формы не затирать их
        // discounts: order.discounts.map(d => ({ ...d })),
        discounts: order.discounts,
        fixedCompensation: order.fixedCompensation,
        sicknessCompensation: order.sicknessCompensation,
        reasonableCompensation: order.reasonableCompensation,

        expireAt: order.expireAt,

        isAutoRenewable: order.isAutoRenewable,
        // Периодичность выставления счета
        billingFrequency: order.billingFrequency,
        // Период выставления счёта
        period: order.period,
        payDay: order.payDay,
        payWithin: order.payWithin,

        comment: order.comment
      }
    },
    resetForm() {
      this.discountForDelete = []
      this.selectedService = null
      this.selectedTariff = null
      this.order = null
      this.loading = false
      // сбрасывает сильно вложенные объекты
      // this.$refs.form.reset()
    },
    formattedDate(d) {
      return formattedDate(d)
    },
    handlerClickCancel() {
      this.TOGGLE_SHOW_CHANGE_ORDER(false)
      // сбросить выбранный заказ
      this.SET_SELECT_ORDER(null)
    }
  },
  watch: {
    isShowChangeOrder(val) {
      // момент открытия окна
      if (val === true) {
        // режим добавления
        if (this.isAddMode) {
        }
        // режим редактирования
        if (this.isUpdateMode) this.initEditModeOrder()
        // момент закрытия окна
      } else {
        this.resetForm()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-item--active.toggles {
  color: white !important;
  background-color: $color-green !important;
  border: 0px solid !important;
}
.btn-group {
  // box-sizing: border-box;
  border: 1px solid $color-green-hover;
}
</style>
