<template>
  <mapa-modal
    :value="isShowInfoOrder"
    @cancel="handlerClickCancel"
  >
    <v-card-title v-if="selectOrder" class="headline pt-0 pb-1">Заказ на услугу {{selectOrder.product.service.name}}</v-card-title>
    <v-card-text v-if="selectOrder">
      <v-row dense>
        <v-col cols="8">
          <v-row dense>
            <!--ученик-->
            <v-col cols="6">
              <v-row align="center" no-gutters>
                <v-col cols="2" class="mr-4">
                  <v-avatar>
                    <v-img :src="selectOrder.recipient.icon" alt="avatar"></v-img>
                  </v-avatar>
                </v-col>
                <v-col cols="9">
                  <span class="subtitle-2">Для ученика:</span> <br />
                  <span class="body-1 font-weight-bold"> {{selectOrder.recipient.fullName}}</span>
                </v-col>
              </v-row>
            </v-col>
            <!--Родитель-->
            <v-col cols="6" v-if="selectOrder.recipient.family.length">
              <v-row align="center" no-gutters>
                <v-col cols="2" class="mr-4">
                  <v-avatar>
                    <v-img :src="selectOrder.recipient.family[0].icon" alt="avatar"></v-img>
                  </v-avatar>
                </v-col>
                <v-col cols="9">
                  <span class="subtitle-2">Родитель:</span> <br />
                  <span class="body-1 font-weight-bold"> {{selectOrder.recipient.family[0].fullName}}</span>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="4">
          <v-img
            v-if="selectOrder.product.service.avatar"
            :src="selectOrder.product.service.avatar"
            contain
            height="150"
          />
        </v-col>
        <!--          <v-col cols="12" class="py-0">-->
        <!--            <p class="title mb-0 pb-0">Тариф для услуги</p>-->
        <!--          </v-col>-->
        <v-col cols="4" class="mt-2">
          <span class="subtitle-1">Тип тарифа:</span>
          <span class="body-1"> {{selectOrder.product.typeTariffText}}</span>
        </v-col>
        <v-col cols="4" class="mt-2">
          <span class="subtitle-1">Статус:</span>
          <span class="body-1"> {{typesStatus[selectOrder.status].text}}</span>
        </v-col>
        <v-col cols="12" class="mt-1">
          <preview-by-plan v-if="selectOrder.product.typeTariff === typesTariffs.abonementPlan.value" :tariff="selectOrder" />
          <preview-products-and-services v-if="selectOrder.product.typeTariff === typesTariffs.singleProduct.value || selectOrder.product.typeTariff === typesTariffs.abonementFact.value" :tariff="selectOrder" />
          <preview-special-by-plan v-if="selectOrder.product.typeTariff === typesTariffs.abonementPlanStandart.value" :tariff="selectOrder" />
          <preview-special-by-facto v-if="selectOrder.product.typeTariff === typesTariffs.abonementFactStandart.value" :tariff="selectOrder" />
        </v-col>
        <v-col cols="12" >
          <span class="subtitle-2">Автоматическое закрытие заказа: </span>
          <span class="body-1"> {{formattedDate(selectOrder.expireAt)}}</span>
        </v-col>
        <v-col cols="12" v-if="selectOrder.product.typeTariff === typesTariffs.abonementPlan.value">
          <span class="subtitle-2">Осталось посетить по абонементу: </span>
          <span class="body-1"> {{selectOrder.remainderItemsCount}} из {{selectOrder.itemsCount}} занятий</span>
        </v-col>
        <v-col class="mt-8" v-if="selectOrder.comment">
          <v-textarea  v-model="selectOrder.comment" readonly color="teal" outlined rows="3" label="Комментарий"></v-textarea>
        </v-col>
      </v-row>
      <v-row class="mt-auto">
        <v-col cols="12">
          <v-btn @click="handlerClickEdit" class="white--text mx-2 px-10" height="45" color="teal lighten-3">
            Редактировать заказ
          </v-btn>
          <!--            <v-btn @click="handlerClickReissue" :loading="loading" :disabled="loading" class="white&#45;&#45;text mx-2"-->
          <!--                   height="45" color="red">ПереВыставить счет-->
          <!--            </v-btn>-->
          <v-btn @click="handlerClickDelete" :loading="loadingDelete" :disabled="loadingDelete" outlined class="mx-2 px-10" height="45" color="red">
            Удалить заказ
          </v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import previewByPlan from './ordersPreviewForTariffs/ordersPreviewByPlan'
import previewProductsAndServices from './ordersPreviewForTariffs/ordersPreviewProductsAndServices'
import previewSpecialByPlan from './ordersPreviewForTariffs/ordersPreviewSpecialByPlan'
import previewSpecialByFacto from './ordersPreviewForTariffs/ordersPreviewSpecialByFacto'
import { TYPES_TARIFF_ALL } from '../../models/Service'
import MapaModal from '../MapaModal'
import { TYPES_STATUS_ORDER } from '@/models/Order'
import { formattedDate } from '../../utility/date'

export default {
  name: 'OrdersModalInfo',
  data() {
    return {
      isPayedStatus: true,
      loading: false,
      loadingDelete: false,
      typesTariffs: TYPES_TARIFF_ALL,
      typesStatus: TYPES_STATUS_ORDER
    }
  },
  components: {
    previewByPlan,
    previewSpecialByPlan,
    previewProductsAndServices,
    previewSpecialByFacto,
    MapaModal
  },
  computed: {
    ...mapState('modalsModule', ['isShowInfoOrder', 'modesModal']),
    ...mapState('ordersModule', ['selectOrder'])
  },
  methods: {
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_INFO_ORDER', 'TOGGLE_MODE_CHANGE_ORDER', 'TOGGLE_SHOW_CHANGE_ORDER']),
    ...mapActions('ordersModule', ['deleteOrder']),
    ...mapActions('notificationsModule', ['confirmUserAction']),
    ...mapMutations('ordersModule', ['SET_SELECT_ORDER']),
    handlerClickCancel() {
      this.loading = false
      this.loadingDelete = false
      this.TOGGLE_SHOW_INFO_ORDER(false)
      // сбросить выбранный заказ
      this.SET_SELECT_ORDER(null)
    },
    async handlerClickReissue() {
      this.loading = true
      // await this.deleteService(this.selectService.id)
      this.handlerClickCancel()
    },
    async handlerClickDelete() {
      const isResolve = await this.confirmUserAction()
      if (isResolve) {
        this.loading = true
        await this.deleteOrder(this.selectOrder.id)
        this.handlerClickCancel()
      }
    },
    formattedDate(d) {
      return formattedDate(d)
    },
    handlerClickEdit() {
      this.TOGGLE_SHOW_INFO_ORDER(false)
      this.TOGGLE_MODE_CHANGE_ORDER(this.modesModal.UPDATE)
      this.TOGGLE_SHOW_CHANGE_ORDER(true)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
