<template>
  <v-row>
    <v-col class="pb-0">
      <v-sheet min-height="70vh">
        <v-data-table
          :loading="loading"
          loading-text="Загрузка заказов... Пожалуйста подождите"
          :search="searchText"
          :headers="headers"
          :items="orders"
          item-key="id"
          class="elevation-3 table-services"
          @click:row="handlerClickOrder"
        >
     <!--слот для стоимости-->
          <template v-slot:item.amount="{ value }">
            <span v-if="value">{{value}} руб.</span>
          </template>
 <!--слот для даты создания-->
          <template v-slot:item.dateCreated="{ item }">
            <span v-if="item.createdAt">{{formattedDate(item.createdAt)}}</span>
          </template>
<!--слот для автопродления-->
          <template v-slot:item.isAutoRenewable="{ value }">
            <v-icon color="teal">{{value ? 'update' : 'update_disabled'}}</v-icon>
          </template>
<!--слот для статуса-->
          <template v-slot:item.status="{ value }">
            <span>
             {{typesStatus[value].text}}
            </span>
          </template>
<!--слот для дополнительного меню-->
<!--          <template v-slot:item.moreMenu>-->
<!--            <v-btn small fab text>-->
<!--              <v-icon color="grey">more_vert</v-icon>-->
<!--            </v-btn>-->
<!--          </template>-->
        </v-data-table>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import { TYPES_STATUS_ORDER } from '@/models/Order'
import { formattedDate } from '@/utility/date'

export default {
  name: 'OrdersTable',
  data: () => ({
    loading: true,
    selected: [],
    headers: [
      // { text: 'НАЗВАНИЕ услуги', align: 'start', sortable: false, value: 'id' }
      { text: '№ ID', align: 'start', value: 'id' },
      { text: 'УЧЕНИК', align: 'start', value: 'recipient.fullName' },
      { text: 'ДАТА СОЗДАНИЯ', align: 'start', sortable: false, value: 'dateCreated' },
      { text: 'НАЗВАНИЕ УСЛУГИ', align: 'start', value: 'product.service.name' },
      { text: 'НАЗВАНИЕ ТАРИФА', align: 'start', value: 'product.name' },
      { text: 'СТОИМОСТЬ', align: 'start', value: 'amount' },
      { text: 'СТАТУСТ', align: 'start', value: 'status' },
      { text: 'АВТО-ПРОДЛЕНИЕ', align: 'center', value: 'isAutoRenewable' }
    ],
    typesStatus: TYPES_STATUS_ORDER
  }),
  computed: {
    ...mapState('ordersModule', ['orders', 'searchText']),
    ...mapState('modalsModule', ['isShowInfoOrder']),
    orderId() {
      return this.$route.params.orderId || null
    }
  },
  created() {
    // если переход внутри app
    this.setSelectOrderByUrlId()
    // если есть загруженные то не показываем loading
    if (this.orders.length > 0) this.loading = false
  },
  methods: {
    ...mapMutations('modalsModule', [
      'TOGGLE_SHOW_INFO_ORDER'
    ]),
    ...mapMutations('ordersModule', [
      'SET_SELECT_ORDER'
    ]),
    formattedDate(d) {
      return formattedDate(d)
    },
    setSelectOrderByUrlId() {
      if (this.orders.length > 0 && this.orderId) {
        // TODO  оптимизировать что бы не делать поиск когда через клик по таблице
        const ord = this.orders.find(o => o.id === +this.orderId)
        if (!ord) return
        this.SET_SELECT_ORDER(ord)
        this.TOGGLE_SHOW_INFO_ORDER(true)
      }
    },
    handlerClickOrder(order) {
      this.SET_SELECT_ORDER(order)
      this.TOGGLE_SHOW_INFO_ORDER(true)
      this.$router.push({ name: 'ordersId', params: { orderId: order.id } })
    }
  },
  watch: {
    orders() {
      // если при старте заказы ещё не готовы то ждем
      this.setSelectOrderByUrlId()
      // при получение результата не показываем loading
      this.loading = false
    },
    // при кликах на разных заказы
    orderId() {
      this.setSelectOrderByUrlId()
    },
    // сброс url при закрытие модалки
    isShowInfoOrder(val) {
      if (!val) this.$router.push({ name: 'orders' })
    }
  }
}
</script>
<style lang="scss" >
  /*scope убран, что бы переопределить падинги*/
  .table-services td, .table-services th {
    padding: 0 7px !important;
  }
</style>
