<template>
  <!--конфигурация тарифа-->
  <v-row dense>
    <v-col cols="4">
      <span class="subtitle-2">Название тарифа:</span>
      <span class="body-1 font-weight-bold"> {{tariff.product.name}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Стоимость:</span>
      <span class="body-1"> {{tariff.amount}} {{placeSuffix}}</span>
    </v-col>
    <v-col cols="4" v-for="(d, idx) in tariff.discounts" :key="idx">
      <span class="subtitle-2">Скидка:</span>
      <span class="body-1"> {{d.discount}} {{typesDiscounts[d.discountType].text}}</span>
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Дата заказа:</span>
      <span class="body-1"> {{formattedDate(tariff.createdAt)}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Дата начала:</span>
      <span class="body-1"> {{tariff.formattedStartDate}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Дата конца:</span>
      <span class="body-1"> {{tariff.formattedFinishDate}}</span>
    </v-col>

    <!--Мини делитель-->
    <mapa-divider />

    <v-col cols="4">
      <span class="subtitle-2">Выставлять счет:</span>
      <span class="body-1"> {{typesBillingFrequency[tariff.billingFrequency].text}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Период выставления счёта:</span>
      <span class="body-1"> {{typesPeriod[tariff.period].text}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Число месяца:</span>
      <span class="body-1"> {{tariff.payDay}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Оплатить в течение:</span>
      <span class="body-1"> {{tariff.payWithin}}</span>
    </v-col>
    <!--Делитель-->
    <mapa-divider />
  </v-row>
</template>

<script>

import { TYPES_DISCOUNT } from '../../../models/Discount'
import { TYPES_PERIOD, TYPES_BILLING_FREQUENCY } from '../../../models/Product'
import { formattedDate } from '../../../utility/date'
import MapaDivider from '@/components/MapaDivider'

export default {
  name: 'previewSpecialByFacto',
  data() {
    return {
      typesBillingFrequency: TYPES_BILLING_FREQUENCY,
      typesDiscounts: TYPES_DISCOUNT,
      typesPeriod: TYPES_PERIOD,
      placeSuffix: 'руб'
    }
  },
  methods: {
    formattedDate(d) {
      return formattedDate(d)
    }
  },
  components: {
    MapaDivider
  },
  props: {
    tariff: {
      type: Object
      // required: true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
