<template>
  <!--конфигурация тарифа-->
  <v-row dense>
    <v-col cols="4">
      <span class="subtitle-2">Название тарифа:</span>
      <span class="body-1 font-weight-bold"> {{tariff.product.name}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Стоимость:</span>
      <span class="body-1"> {{tariff.amount}} {{placeSuffix}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Кол-во ед. услуги:</span>
      <span class="body-1"> {{tariff.itemsCount}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Дата заказа:</span>
      <span class="body-1"> {{formattedDate(tariff.createdAt)}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Дата начала:</span>
      <span class="body-1"> {{tariff.formattedStartDate}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Дата конца:</span>
      <span class="body-1"> {{tariff.formattedFinishDate}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Кол-во дней:</span>
      <span class="body-1"> {{tariff.expireDays}}</span>
    </v-col>
    <!--Мини делитель-->
    <mapa-divider />

    <v-col cols="4">
      <span class="subtitle-2">Стоимость переноса:</span>
      <span class="body-1"> {{tariff.compensationTransferCosts}} {{placeSuffix}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Макс. кол-во переносов:</span>
      <span class="body-1"> {{tariff.numberOfTransfers}}</span>
    </v-col>
    <v-col cols="4" v-for="(d, idx) in tariff.discounts" :key="idx">
      <span class="subtitle-2">Скидка:</span>
      <span class="body-1"> {{d.discount}} {{typesDiscounts[d.discountType].text}}</span>
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Оплатить в течение:</span>
      <span class="body-1"> {{tariff.payWithin}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Автопродление:</span>
      <span class="body-1"> {{tariff.isAutoRenewable ? 'включенно' : 'выключенно'}}</span>
    </v-col>
    <!--Отправить счет автоматически-->
    <!--Делитель-->
    <mapa-divider />
  </v-row>
</template>

<script>

import { TYPES_DISCOUNT } from '../../../models/Discount'
import { formattedDate } from '../../../utility/date'
import MapaDivider from '@/components/MapaDivider'

export default {
  name: 'previewByPlan',
  data() {
    return {
      typesDiscounts: TYPES_DISCOUNT,
      placeSuffix: 'руб'
    }
  },
  components: {
    MapaDivider
  },
  methods: {
    formattedDate(d) {
      return formattedDate(d)
    }
  },
  props: {
    tariff: {
      type: Object
      // required: true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
