<template>
  <v-col cols="6" md="4" lg="3" xl="2">
    <v-card height="100%" class="ticket elevation-12 pt-2" :class="{'pt-10': hideClose}">
      <v-btn @click="handlerClickDelete" v-if="!hideClose" fab x-small class="d-block ml-auto" text>
        <v-icon color="red" size="x-large">close</v-icon>
      </v-btn>
      <v-card-title
        v-if="order.order"
        style="line-height: 22px;"
        class="subtitle-1 pt-0"
      >Заказ на товар “{{order.order.product.name}}”</v-card-title>
      <v-card-title v-else style="line-height: 22px;" class="subtitle-1 pt-0">Корректировка</v-card-title>
      <v-card-text v-if="order.order">
        <p class="subtitle">Услуга: {{order.order.product.service.name}}</p>
        <p class="subtitle">Тип Тарифа: {{order.order.product.typeTariffText}}</p>
        <!--        TODO беру из заказа-->
        <p class="subtitle">Количество: {{order.count}}</p>
        <p class="subtitle">Стоимость: {{order.price}} {{order.currency}}</p>
        <p class="subtitle">
          {{ order.order.product.typeTariff === typesTariffs.abonementPlanStandart.value ||
          order.order.product.typeTariff === typesTariffs.abonementFactStandart.value ?
          'Компенсация: ' : 'Перенос: '}}
          {{order.compensation}} {{order.currency}}</p>
        <p class="subtitle">
          Скидка: {{order.discount}} {{order.currency}}</p>
        <p class="subtitle pt-4 total">
          <span>ИТОГО:</span>
          <span>{{order.finalCost}} {{order.currency}}</span>
        </p>
      </v-card-text>
      <v-card-text v-else>
        <p class="subtitle">Стоимость: {{order.price}}</p>
        <p class="subtitle">Комментарий: {{order.description}}</p>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { TYPES_DISCOUNT } from '../../../models/Discount'
import { TYPES_TARIFF_ALL } from '../../../models/Service'

export default {
  name: 'InvoicesChangeItem',
  data() {
    return {
      typesDiscount: TYPES_DISCOUNT,
      typesTariffs: TYPES_TARIFF_ALL
    }
  },
  props: {
    order: {
      type: Object,
      required: true
    },
    hideClose: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState('ordersModule', ['selectOrder'])
  },
  methods: {
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_INFO_ORDER', 'TOGGLE_MODE_CHANGE_ORDER', 'TOGGLE_SHOW_CHANGE_ORDER']),

    async handlerClickDelete() {
      this.$emit('deleteOrder')
    }
  }
}
</script>

<style lang="scss" scoped>
.total {
  border-top: 1px solid #d8e6e7;
  font-size: 18px;
}

.ticket {
  /*background-color: #8BBDBA;*/
  /*clip-path:   polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 95%, 90% 95%, 90% 100%, 85% 100%, 85% 95%, 80% 95%, 80% 100%, 75% 100%, 75% 95%, 70% 95%, 70% 100%, 65% 100%, 65% 95%, 60% 95%, 60% 100%, 55% 100%, 55% 95%, 50% 95%,   50% 100%, 45% 100%, 45% 95%, 40% 95%, 40% 100%, 35% 100%, 35% 95%, 30% 95%,  30% 100%, 25% 100%, 25% 95%, 20% 95%, 20% 100%, 15% 100%, 15% 95%, 10% 95%, 10% 100%, 5% 100%, 5% 95%, 0% 95%, 0% 100%);*/
  /*clip-path:   polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 95%, 90% 95%, 90% 100%, 85% 100%, 85% 95%, 80% 95%, 80% 100%, 75% 100%, 75% 95%, 70% 95%, 70% 100%, 65% 100%, 65% 95%, 60% 95%, 60% 100%, 55% 100%, 55% 95%, 50% 95%,   50% 100%, 45% 100%, 45% 95%, 40% 95%, 40% 100%, 35% 100%, 35% 95%, 30% 95%,  30% 100%, 25% 100%, 25% 95%, 20% 95%, 20% 100%, 15% 100%, 15% 95%, 10% 95%, 10% 100%, 5% 100%, 5% 95%, 0% 95%, 0% 100%);*/
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    /*border-bottom: dotted 16px #ffffff;*/
    border-bottom: dashed 13px #ffffff;
    bottom: -10px;
  }
  & .subtitle {
    font-family: $fira-mono-font;
    line-height: 18px;
  }
}
</style>
