<template>
  <v-row >
    <v-col class="pb-0">
      <v-sheet min-height="70vh">
        <v-data-table
          :headers="headers"
          :items="services"
          :search="searchText"
          item-key="id"
          class="elevation-3 table-services"
          @click:row="handlerClickService"
        >
<!--слот для тарифов-->
          <template v-slot:item.tariffsNameForProducts="{ value }">
            <template v-for="(t, idx) in value">
              <span :key="idx">{{t}}</span><br :key="idx + 'br'">
            </template>
          </template>
<!--слот для СТОИМОСТЬ-->
          <template v-slot:item.price="{ item }">
            <template v-for="(p, idx) in item.products">
              <span :key="idx">{{p.price}} руб.</span><br :key="idx + 'br'">
            </template>
          </template>
<!--слот для ДАТА НАЧАЛА-->
          <template v-slot:item.start="{ item }">
            <template v-for="(p, idx) in item.products">
              <span :key="idx">{{p.formattedStartDate}}</span><br :key="idx + 'br'">
            </template>
          </template>
 <!--слот для ДАТА ОКОНЧАНИЯ-->
          <template v-slot:item.finish="{ item }">
            <template v-for="(p, idx) in item.products">
              <span :key="idx">{{p.formattedFinishDate}}</span><br :key="idx + 'br'">
            </template>
          </template>
<!--слот для КОЛ-ВО ДНЕЙ-->
          <template v-slot:item.countDays="{ item }">
            <template v-for="(p, idx) in item.products">
              <span :key="idx">{{p.expireDays}}</span><br :key="idx + 'br'">
            </template>
          </template>

<!--&lt;!&ndash;слот для статуса&ndash;&gt;-->
<!--          <template v-slot:item.isAvailable="{ value }">-->
<!--            <span v-if="value">-->
<!--              <v-icon color="teal lighten-3" small class="mr-2">stop_circle</v-icon>-->
<!--              Доступно к заказу-->
<!--            </span>-->
<!--            <span v-else>-->
<!--              <v-icon color="red" small class="mr-2">stop_circle</v-icon>-->
<!--              В ожидании-->
<!--            </span>-->
<!--          </template>-->
<!--слот для дополнительного меню-->
<!--          <template v-slot:item.moreMenu>-->
<!--            <v-btn small fab text>-->
<!--              <v-icon color="grey">more_vert</v-icon>-->
<!--            </v-btn>-->
<!--          </template>-->
        </v-data-table>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'ServicesTable',
  data: () => ({
    selected: [],
    headers: [
      { text: 'ДАТА СОЗДАНИЯ', value: 'formattedStartDateAndTime' },
      { text: 'УСЛУГА', align: 'start', value: 'name' },
      { text: 'ТАРИФ', value: 'tariffsNameForProducts' },
      { text: 'СТОИМОСТЬ', value: 'price' },
      { text: 'ДАТА НАЧАЛА', value: 'start' },
      { text: 'ДАТА ОКОНЧАНИЯ', value: 'finish' },
      { text: 'КОЛ-ВО ДНЕЙ', align: 'center', value: 'countDays' }
      // { text: 'ОПЛАЧЕНО', value: 'payment' }
      // { text: '', value: 'moreMenu', sortable: false }
    ]
  }),
  computed: {
    ...mapState('servicesModule', ['services', 'searchText']),
    ...mapState('modalsModule', ['isShowInfoService']),
    serviceId() {
      return this.$route.params.serviceId || null
    }
  },
  created() {
    // если переход внутри app
    this.setSelectServiceByUrlId()
  },
  watch: {
    // если при старте услуги ещё не готовы то ждем
    services() {
      this.setSelectServiceByUrlId()
    },
    // при кликах на разных услугах
    serviceId() {
      this.setSelectServiceByUrlId()
    },
    // сброс url при закрытие модалки
    isShowInfoService(val) {
      if (!val) this.$router.push({ name: 'services' })
    }
  },
  methods: {
    ...mapMutations('modalsModule', [
      'TOGGLE_SHOW_INFO_SERVICE'
    ]),
    ...mapMutations('servicesModule', [
      'SET_SELECT_SERVICE'
    ]),
    setSelectServiceByUrlId() {
      if (this.services.length > 0 && this.serviceId) {
        // TODO  оптимизировать что бы не делать поиск когда через клик по таблице
        const ser = this.services.find(s => s.id === +this.serviceId)
        if (!ser) return
        this.SET_SELECT_SERVICE(ser)
        this.TOGGLE_SHOW_INFO_SERVICE(true)
      }
    },
    handlerClickService(service) {
      this.SET_SELECT_SERVICE(service)
      this.TOGGLE_SHOW_INFO_SERVICE(true)
      this.$router.push({ name: 'servicesId', params: { serviceId: service.id } })
    }
    // searchCustom(val, textSearch, item) {
    //   // поиск для кастомных слотов
    //   if (item.fullName.toLowerCase().indexOf(textSearch.toLowerCase()) !== -1) return true
    //   if (item.groupName.toLowerCase().indexOf(textSearch.toLowerCase()) !== -1) return true
    //   if (item.family.length && item?.family[0].fullName.toLowerCase().indexOf(textSearch.toLowerCase()) !== -1) return true
    //   return false
    // },
  }
}
</script>
<style lang="scss" >
  /*scope убран, что бы переопределить падинги*/
  .table-services td, .table-services th {
    padding: 0 7px !important;
  }
</style>
