<template>
  <mapa-modal :value="isShowInfoService" @cancel="handlerClickCancel">
    <v-card-title v-if="selectService" class="headline pt-0 pb-1">Услуга - {{selectService.name}}</v-card-title>
    <v-card-text v-if="selectService">
      <v-row>
        <v-col cols="8">
          <p class="subtitle-2">{{selectService.description}}</p>
        </v-col>
        <v-col cols="4">
          <v-img v-if="selectService.avatar" :src="selectService.avatar" contain height="150" />
        </v-col>
        <v-col cols="12" class="py-0">
          <p class="title mb-0 pb-0">Тарифы для услуги</p>
        </v-col>
        <v-col cols="12" class="pb-0">
          <div v-for="tariff in selectService.products" :key="tariff.id">
            <preview-by-plan
              v-if="tariff.typeTariff === typesTariffs.abonementPlan.value"
              :tariff="tariff"
            />
            <preview-products-and-services
              v-if="tariff.typeTariff === typesTariffs.singleProduct.value || tariff.typeTariff === typesTariffs.abonementFact.value"
              :tariff="tariff"
            />
            <preview-special-by-plan
              v-if="tariff.typeTariff === typesTariffs.abonementPlanStandart.value"
              :tariff="tariff"
            />
            <preview-special-by-facto
              v-if="tariff.typeTariff === typesTariffs.abonementFactStandart.value"
              :tariff="tariff"
            />
          </div>
        </v-col>
        <v-col cols="12" class="py-0 mb-3">
          <v-btn
            @click="handlerClickViewInvoice"
            text
            class="px-0 teal--text text--lighten-2 subtitle-1 text-none font-weight-bold text-decoration-underline"
          >Посмотреть заказы для услуги</v-btn>
        </v-col>
      </v-row>
      <v-row class="mt-auto">
        <v-col cols="12">
          <v-btn
            @click="handlerClickEdit"
            class="white--text mx-2"
            height="45"
            color="teal lighten-3"
          >Редактировать услугу</v-btn>
          <v-btn
            @click="handlerClickDelete"
            :loading="loading"
            :disabled="loading"
            class="mx-2 px-10"
            outlined
            height="45"
            color="red"
          >Удалить услугу</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { TYPES_TARIFF_ALL } from '../../models/Service'
import previewByPlan from './servicesPreviewForTariffs/servicesPreviewByPlan'
import previewProductsAndServices from './servicesPreviewForTariffs/servicesPreviewProductsAndServices'
import previewSpecialByPlan from './servicesPreviewForTariffs/servicesPreviewSpecialByPlan'
import previewSpecialByFacto from './servicesPreviewForTariffs/servicesPreviewSpecialByFacto'
import MapaModal from '../MapaModal'

export default {
  name: 'ServicesModalInfo',
  data() {
    return {
      typesTariffs: TYPES_TARIFF_ALL,
      loading: false
    }
  },
  components: {
    previewByPlan,
    previewSpecialByPlan,
    previewProductsAndServices,
    previewSpecialByFacto,
    MapaModal
  },
  computed: {
    ...mapState('modalsModule', ['isShowInfoService', 'modesModal']),
    ...mapState('servicesModule', ['selectService'])
  },
  methods: {
    ...mapMutations('modalsModule', [
      'TOGGLE_SHOW_INFO_SERVICE',
      'TOGGLE_MODE_CHANGE_SERVICE',
      'TOGGLE_SHOW_CHANGE_SERVICE'
    ]),
    ...mapActions('servicesModule', ['deleteService']),
    ...mapActions('notificationsModule', ['confirmUserAction']),
    ...mapMutations('servicesModule', ['SET_SELECT_SERVICE']),
    ...mapMutations('ordersModule', ['SET_SEARCH_TEXT']),

    handlerClickCancel() {
      this.loading = false
      this.TOGGLE_SHOW_INFO_SERVICE(false)
      // сбросить выбранную услугу
      this.SET_SELECT_SERVICE(null)
    },
    async handlerClickDelete() {
      const isResolve = await this.confirmUserAction()
      if (isResolve) {
        this.loading = true
        await this.deleteService(this.selectService.id)
        this.handlerClickCancel()
      }
    },
    handlerClickEdit() {
      this.TOGGLE_SHOW_INFO_SERVICE(false)
      this.TOGGLE_MODE_CHANGE_SERVICE(this.modesModal.UPDATE)
      this.TOGGLE_SHOW_CHANGE_SERVICE(true)
    },
    handlerClickViewInvoice() {
      this.SET_SEARCH_TEXT(this.selectService.name)
      this.TOGGLE_SHOW_INFO_SERVICE(false)
      this.$router.push({ name: 'orders' })
      // selectService.name
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
