<template>
  <mapa-modal
    :value="isShowChangeService"
    @cancel="handlerClickCancel"
  >
    <v-card-title v-if="isAddMode" class="headline pt-0 pb-1">Новая услуга</v-card-title>
    <v-card-title
      v-if="isUpdateMode"
      class="headline pt-0 pb-1"
    >Редактировать услугу - {{selectService.name}}</v-card-title>
    <v-card-text>
      <v-form ref="form" v-model="valid">
        <v-row>
          <!--Название-->
          <v-col class="pb-0" cols="8">
            <v-text-field
              v-model="name"
              :rules="[rules.required]"
              color="teal"
              dense
              outlined
              autocomplete="off"
              label="Название"
            />
            <!--Описание-->
            <v-textarea rows="3" v-model="description" :rules="[rules.required]" color="teal" outlined label="Описание" />
          </v-col>
          <v-col class="pb-10" cols="4">
            <!--Загрузите фото-->
            <v-img
              v-ripple
              @click="openFileDialog"
              contain
              height="150"
              v-if="srcImg"
              :src="srcImg"
              :style="{cursor: 'pointer'}"
            />
            <v-btn
              v-else
              @click="openFileDialog"
              block
              height="100%"
              class="btn-upload px-0"
              outlined
            >
              <div class="d-flex flex-column align-center">
                <v-img class="mb-5" width="70" max-width="120" src="/img/Img_icon.svg" />
                <p class="subtitle-2 text-none">Загрузите фото</p>
              </div>
            </v-btn>
            <input
              ref="inputFile"
              @change="handlerFileChange"
              type="file"
              name="userImage"
              accept="image/*"
              style="display:none"
            />
          </v-col>
          <v-col cols="12" class="py-0">
            <p class="title mb-0 pb-0">Тарифы</p>
          </v-col>
        </v-row>
        <!--секция для тарифов-->
        <v-row v-for="(tariff, idx) in tariffs" :key="idx" no-gutters class="mt-4">
          <v-col cols="5" md="4">
            <!--Тип тарифа-->
            <!--TODO не показан тип для тарифа которого не должно быть-->
            <v-select
              label="Тип тарифа"
              v-model="tariff.typeTariff"
              :items="Object.values(isSpecialService ? typesTariffsSpecial : typesTariffs)"
              item-text="text"
              item-value="value"
              color="teal lighten-3"
            />
          </v-col>
          <v-col cols="12">
            <!--конфигурация тарифа-->
            <v-tabs-items v-model="tariff.typeTariff">
              <!-- для специальных услуг -->
              <template v-if="isSpecialService">
                <v-tab-item :value="typesTariffsSpecial.abonementFactStandart.value">
                  <!--специальное занятие по факту-->
                  <form-special-by-facto :tariff="tariff" @deleteTariff="handlerClickDeleteTariff(idx)" />
                </v-tab-item>
                <v-tab-item :value="typesTariffsSpecial.abonementPlanStandart.value">
                  <!--специальное занятие по плану-->
                  <form-special-by-plan :tariff="tariff" @deleteTariff="handlerClickDeleteTariff(idx)" />
                </v-tab-item>
              </template>
              <!-- для обычных услуг -->
              <template v-else>
                <v-tab-item :value="typesTariffs.abonementPlan.value">
                  <!--занятие по плану-->
                  <form-by-plan :tariff="tariff" @deleteTariff="handlerClickDeleteTariff(idx)" />
                </v-tab-item>
                <v-tab-item :value="typesTariffs.singleProduct.value">
                  <!--товары и услуни-->
                  <form-products-and-services :tariff="tariff" @deleteTariff="handlerClickDeleteTariff(idx)" />
                </v-tab-item>
                <v-tab-item :value="typesTariffs.abonementFact.value">
                  <!--товары и услуни-->
                  <form-products-and-services :tariff="tariff" @deleteTariff="handlerClickDeleteTariff(idx)" />
                </v-tab-item>
              </template>
            </v-tabs-items>
          </v-col>
        </v-row>
      </v-form>
      <!--Кнопки действия-->
      <v-row class="mt-auto" >
        <v-col cols="12" class="pt-0 px-0">
          <v-btn
            @click="handlerCkickAddTariff"
            text
            class="text-none"
            color="secondary"
          >
            <v-icon size="30" color="red">add</v-icon>
            Добавить еще один тариф
          </v-btn>
        </v-col>
        <v-col cols="12">
          <v-btn
            v-if="isAddMode"
            @click="handlerClickCreatedService"
            :loading="loading"
            :disabled="loading"
            class="white--text mx-2"
            height="45"
            color="teal lighten-3"
          >Создать услугу</v-btn>
          <v-btn
            v-if="isUpdateMode"
            @click="handlerClickUpdateService"
            :loading="loading"
            :disabled="loading"
            class="white--text mx-2"
            height="45"
            color="teal lighten-3"
          >Изменить услугу</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { required, onlyInt, onlyPositive, requiredSelect } from '../../utility/validRules'
import { TYPES_TARIFF, TYPES_TARIFF_SPECIAL } from '../../models/Service'
import formByPlan from './ServicesModalChange/formByPlan'
import formSpecialByPlan from './ServicesModalChange/formSpecialByPlan'
import formSpecialByFacto from './ServicesModalChange/formSpecialByFacto'
import formProductsAndServices from './ServicesModalChange/formProductsAndServices'
import { isBase64 } from '../../utility/helpers'
import MapaModal from '../MapaModal'

export default {
  name: 'ServicesModalChange',
  data() {
    return {
      tariffs: [],
      tariffsForDelete: [],
      tariff: {
        typeTariff: null,
        name: '',
        price: 0,
        quantity: 1,
        expireDays: 0,
        compensationTransferCosts: 0,
        numberOfTransfers: 0,
        startDate: null,
        finishDate: null,
        isAutoRenewable: false,
        payWithin: 0,
        // период выставления счета
        period: 'Last',
        payDay: 0,

        // Компенсации
        compenFromState: 0,
        compenDiseaseAmount: 0,
        compenApprovedAmount: 0
      },
      valid: false,
      loading: false,
      rules: {
        required,
        onlyInt,
        onlyPositive,
        requiredSelect
      },
      srcImg: null,
      filesImg: null,
      name: '',
      description: '',
      typesTariffs: TYPES_TARIFF,
      typesTariffsSpecial: TYPES_TARIFF_SPECIAL,
      placeSuffix: 'руб'
    }
  },
  computed: {
    ...mapState('modalsModule', [
      'isShowChangeService',
      'currentModeModalChangeService',
      'modesModal'
    ]),
    ...mapState('servicesModule', ['selectService']),
    ...mapState('authorisationModule', ['currentUsedCompany']),
    isSpecialService() {
      return this.selectService ? this.selectService.isStandardGardenService : false
    },
    isAddMode() {
      return this.currentModeModalChangeService === this.modesModal.ADD
    },
    isUpdateMode() {
      return this.currentModeModalChangeService === this.modesModal.UPDATE
    }
  },
  components: {
    formByPlan,
    formProductsAndServices,
    formSpecialByPlan,
    formSpecialByFacto,
    MapaModal
  },
  created() {
    this.handlerCkickAddTariff()
  },
  methods: {
    ...mapMutations('servicesModule', ['ADD_PRODUCT_IN_SERVICE', 'UPDATE_PRODUCT_IN_SERVICE', 'DELETE_PRODUCT_IN_SERVICE', 'SET_SELECT_SERVICE']),
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_CHANGE_SERVICE']),
    ...mapActions('servicesModule', ['saveService', 'updateService']),
    ...mapActions('productsModule', ['saveProduct', 'updateProduct', 'deleteProduct']),
    async handlerClickCreatedService() {
      this.$refs.form.validate()
      if (!this.valid) return
      this.loading = true
      try {
        // Сохраняем услугу
        const saveService = await this.saveService(this.preparationServiceData())
        // выйти если не сохранили услугу
        if (!saveService) return
        // сохраняем продукты
        const saveProducts = await Promise.all(this.tariffs.map(t => {
          return this.saveProduct(this.preparationProductData(t, saveService.id))
        }))
        saveProducts.forEach(pr => {
          this.ADD_PRODUCT_IN_SERVICE({ serviceId: saveService.id, product: pr })
        })
      } finally {
        this.handlerClickCancel()
      }
    },
    async handlerClickUpdateService() {
      this.$refs.form.validate()
      if (!this.valid) return
      this.loading = true
      try {
        // TODO оптимизировать обновление, для конкретных изменений
        const updateService = await this.updateService(this.preparationServiceData())
        if (!updateService) return
        // удаляем тарифы
        const deleteProducts = await Promise.all(this.tariffsForDelete.map(t => this.deleteProduct(t.id)))
        // удаляем локально
        deleteProducts.forEach(pr => {
          this.DELETE_PRODUCT_IN_SERVICE({ serviceId: updateService.id, product: pr })
        })
        // обновляем продукты
        const updateProducts = await Promise.all(this.tariffs.map(t => {
          let func
          // если при редактировании были добавлены новые тарифи то их сохраняем
          if (t.id) func = this.updateProduct
          else func = this.saveProduct
          return func(this.preparationProductData(t, updateService.id))
        }))
        // обновляеи локально
        updateProducts.forEach(pr => {
          this.UPDATE_PRODUCT_IN_SERVICE({ serviceId: updateService.id, product: pr })
        })
      } finally {
        this.handlerClickCancel()
      }
    },
    preparationProductData(product, servicesId) {
      return {
        id: product.id,
        name: product.name,
        serviceId: servicesId,
        price: product.price,
        currency: 'RUB',
        typeTariff: product.typeTariff,
        // количество ед. услуги
        quantity: product.quantity,
        startDate: product.startDate ? product.startDate + 'T00:00' : null,
        finishDate: product.finishDate ? product.finishDate + 'T00:00' : null,
        expireDays: product.expireDays,
        // компенсации
        compenDiseaseAmount: product.compenDiseaseAmount,
        compenApprovedAmount: product.compenApprovedAmount,
        compenFromState: product.compenFromState,
        compensationTransferCosts: product.compensationTransferCosts,
        numberOfTransfers: product.numberOfTransfers,

        isAutoRenewable: product.isAutoRenewable,

        payDay: product.payDay,
        payWithin: product.payWithin,
        period: product.period,
        billingFrequency: product.billingFrequency
      }
    },
    preparationServiceData() {
      return {
        id: this.selectService ? this.selectService.id : null,
        name: this.name,
        // после получения аккаунта при старте app нам доступна текущая используемая компания
        company: this.currentUsedCompany,
        description: this.description,
        // TODO оптимизировать isBase64
        avatar: isBase64(this.srcImg) ? this.srcImg : null
      }
    },
    initEditModeService() {
      // TODO
      const service = this.selectService
      console.log('edit service', service)

      this.srcImg = service.avatar
      this.name = service.name
      this.description = service.description

      this.tariffs = service.products.map(pr => {
        const obj = { ...pr }
        // подходящий формат даты
        obj.startDate = pr.startDay
        obj.finishDate = pr.finishDay
        return obj
      })
    },
    resetForm() {
      this.tariffsForDelete = []
      this.loading = false
      this.srcImg = this.filesImg = null
      // this.$refs.form.reset()
    },
    openFileDialog() {
      this.$refs.inputFile.click()
    },
    handlerFileChange(evt) {
      this.filesImg = evt.target.files || evt.dataTransfer.files
      if (!this.filesImg.length > 0) return
      // показать превью
      const reader = new FileReader()
      reader.onload = event => (this.srcImg = event.target.result)
      reader.readAsDataURL(this.filesImg[0])
    },
    handlerClickCancel() {
      this.TOGGLE_SHOW_CHANGE_SERVICE(false)
      // сбросить выбранную услугу
      this.SET_SELECT_SERVICE(null)
    },
    handlerCkickAddTariff() {
      const tariff = { ...this.tariff }
      tariff.typeTariff =
        this.isSpecialService
          ? TYPES_TARIFF_SPECIAL.abonementPlanStandart.value
          : TYPES_TARIFF.abonementPlan.value
      this.tariffs.push(tariff)
    },
    handlerClickDeleteTariff(idx) {
      const trs = this.tariffs.splice(idx, 1)
      this.tariffsForDelete.push(trs[0])
    }
  },
  watch: {
    isShowChangeService(val) {
      // момент открытия окна
      if (val === true) {
        // режим добавления
        if (this.isAddMode) {
          this.tariffs = []
          this.handlerCkickAddTariff()
        }
        // режим редактирования
        if (this.isUpdateMode) this.initEditModeService()
      // момент закрытия окна
      } else {
        this.resetForm()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-upload {
  border: 2px dashed $color-green-light;
  border-radius: 4px;
}
.v-item--active.toggles {
  color: white !important;
  background-color: $color-green !important;
  border: 0px solid !important;
}
.btn-group {
  // box-sizing: border-box;
  border: 1px solid $color-green-hover;
}
</style>
