<template>
  <mapa-modal
    :value="isShowInfoEvent"
    @cancel="TOGGLE_SHOW_INFO_EVENT(false)"
  >
    <v-card-title class="headline pt-0">Занятие: Регулярное посещение детского сада</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="8">
          <p class="subtitle-2">30.12.2019 с 09:00 до 19:40</p>
          <p class="mb-0 body-2">без услуги</p>
          <p class="mb-0 body-2">Педагог: Расписаньева Татьяна</p>
          <p class="mb-0 body-2">Аудитория: Сад №3,  всего: 52 места, 1 свободно</p>
        </v-col>
        <v-col class="" cols="4">
          <v-img class="mb-5" src="/img/image_baby.png" />
        </v-col>
        <v-col cols="12">
          <p class="subtitle-1" >Возрастная группа: от 2 до - 4 лет</p>
        </v-col>
        <v-col cols="12">
          <h3 class="title">Тема занятия</h3>
          <p class="body-1">Тема занятия -  изучение базовых принципов группировки при падении, отработка стойки</p>
        </v-col>
        <v-col cols="12">
          <h3 class="title mb-3">Расписание, промежуточные этапы</h3>
          <p v-for="i in 10" :key="i" class="body-1 mb-2"> <span class="mr-5"> С 8:00 до 8:40 </span> Встреча детей, осмотр медработником, свободная игра</p>
        </v-col>
      </v-row>
      <v-row class="mt-4">
        <v-col cols="12">
          <v-btn class="white--text mx-2" height="45" color="teal lighten-3">Редактировать Занятие</v-btn>
          <v-btn class="mx-2 px-10" outlined height="45" color="red">Удалить занятие</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import MapaModal from '../MapaModal'

export default {
  name: 'ScheduleModalInfoEvent',
  data() {
    return {
    }
  },
  components: {
    MapaModal
  },
  computed: {
    ...mapState('modalsModule', ['isShowInfoEvent'])
  },
  methods: {
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_INFO_EVENT'])
  }
}
</script>

<style lang="scss" scoped>

</style>
