<template>
  <mapa-modal :value="isShowAddAuditorium" @cancel="handlerClickCancel">
    <v-card-title v-if="isAddMode" class="headline pt-0">Новая аудитория</v-card-title>
    <v-card-title v-if="isUpdateMode" class="headline pt-0">
      Аудитория {{selectPlace.name}}
      <span
        class="pl-2 subtitle-2 text-decoration-underline red--text"
        style="cursor: pointer"
        @click="handlerClickDelete"
      >Удалить</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="form" v-model="valid">
        <v-row>
          <v-col cols="8">
            <v-text-field
              v-model="name"
              :rules="[rules.required]"
              color="teal"
              dense
              outlined
              autocomplete="off"
              label="Название"
            />
            <v-textarea v-model="description" color="teal" outlined rows="3" label="Описание"></v-textarea>
          </v-col>
          <v-col class="pb-10" cols="4">
            <v-img
              v-ripple
              @click="openFileDialog"
              v-if="srcImg"
              :src="srcImg"
              :style="{cursor: 'pointer'}"
            />
            <v-btn
              v-else
              @click="openFileDialog"
              block
              height="100%"
              class="btn-upload px-0"
              outlined
            >
              <div class="d-flex flex-column align-center">
                <v-img class="mb-5" width="70" max-width="120" src="/img/Img_icon.svg" />
                <p class="subtitle-2 text-none">Загрузите фото</p>
              </div>
            </v-btn>
            <input
              ref="inputFile"
              @change="handlerFileChange"
              type="file"
              name="userImage"
              accept="image/*"
              style="display:none"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pt-0" cols="10">
            <p class="subtitle-2 mb-2">Количество мест в аудитории</p>
            <div class="places pa-1 d-flex align-center justify-space-between grey--text">
              <v-btn class="pa-0" small @click="placesCount < 100 && ++placesCount" fab text>
                <v-icon large>add</v-icon>
              </v-btn>
              <span class="title">{{ placesCount }}</span>
              <v-btn class="pa-0" small @click="placesCount > 0 && --placesCount" fab text>
                <v-icon large>remove</v-icon>
              </v-btn>
            </div>
          </v-col>
          <v-col class="pt-6" cols="12">
            <v-divider class="teal lighten-5"></v-divider>
          </v-col>
          <!-- <v-col class="pt-0" cols="12">
            <v-btn text class="px-1 text-none">
              <v-icon class="red--text" large>add</v-icon>Добавить еще одну аудиторию
            </v-btn>
          </v-col>-->
        </v-row>
        <v-row class="mt-4">
          <v-col cols="12">
            <v-btn
              v-if="isAddMode"
              @click="handlerClickAddPlace"
              :loading="loading"
              :disabled="loading"
              class="white--text mx-2"
              height="45"
              color="teal lighten-3"
            >Добавить Аудиторию</v-btn>
            <v-btn
              v-if="isUpdateMode"
              @click="handlerClickUpdatePlace"
              :loading="loading"
              :disabled="loading"
              class="white--text mx-2"
              height="45"
              color="teal lighten-3"
            >Редактировать Аудиторию</v-btn>
            <v-btn
              @click="handlerClickCancel"
              class="mx-2 px-10"
              outlined
              height="45"
              color="red"
            >Отмена</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-title v-if="isAddMode" class="headline pt-0">Редактировать текущие аудитории</v-card-title>
    <v-card-text v-if="isAddMode">
      <v-row>
        <v-col v-for="p in places" :key="p.id" cols="4">
          <p
            class="subtitle-2 text-decoration-underline"
            style="cursor: pointer"
            @click="handlerClickByPlace(p)"
          >
            {{p.name}}
          </p>
        </v-col>
      </v-row>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import { required } from '../../utility/validRules'
import MapaModal from '../MapaModal'
import { isBase64 } from '../../utility/helpers'

export default {
  name: 'ScheduleModalAddAuditorium',
  data() {
    return {
      valid: false,
      loading: false,
      rules: {
        required
      },
      srcImg: null,
      filesImg: null,
      name: '',
      description: '',
      placesCount: 10
    }
  },
  computed: {
    ...mapState('modalsModule', ['isShowAddAuditorium', 'currentModeAddAuditorium', 'modesModal']),
    ...mapState('placesModule', ['places', 'selectPlace']),
    ...mapState('authorisationModule', ['currentUsedCompany']),
    isAddMode() {
      return this.currentModeAddAuditorium === this.modesModal.ADD
    },
    isUpdateMode() {
      return this.currentModeAddAuditorium === this.modesModal.UPDATE
    }
  },
  watch: {
    isShowAddAuditorium(val) {
      // debugger
      // момент открытия окна
      if (val === true) {
        // режим добавления
        if (this.isAddMode) {
        }
        // режим редактирования
        if (this.isUpdateMode) this.initEditModePlace()
        // момент закрытия окна
      } else {
        this.resetForm()
      }
    }
  },
  components: {
    MapaModal
  },
  methods: {
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_ADD_AUDITORIUM', 'TOGGLE_MODE_ADD_AUDITORIUM']),
    ...mapMutations('placesModule', ['SET_SELECT_PLACE']),
    ...mapActions('placesModule', ['savePlace', 'updatePlace', 'deletePlace']),
    ...mapActions('notificationsModule', ['showNotification']),

    async handlerClickAddPlace() {
      this.$refs.form.validate()
      if (!this.valid) return
      this.loading = true
      try {
        await this.savePlace({
          name: this.name,
          description: this.description,
          company: this.currentUsedCompany,
          countPlaces: this.placesCount,
          photo: this.srcImg
        })
      } finally {
        this.handlerClickCancel()
      }
    },
    async handlerClickCancel() {
      this.TOGGLE_SHOW_ADD_AUDITORIUM(false)
      // this.resetForm()
    },
    async handlerClickUpdatePlace() {
      this.$refs.form.validate()
      if (!this.valid) return
      this.loading = true
      try {
        // TODO проверить для точечного изменения
        await this.updatePlace({
          id: this.selectPlace.id,
          name: this.name,
          description: this.description,
          company: this.currentUsedCompany,
          countPlaces: this.placesCount,
          photo: isBase64(this.srcImg) ? this.srcImg : null
        })
      } finally {
        this.handlerClickCancel()
      }
    },
    async handlerClickDelete() {
      this.loading = true
      try {
        await this.deletePlace(this.selectPlace.id)
      } finally {
        this.handlerClickCancel()
      }
    },
    async handlerClickByPlace(place) {
      this.TOGGLE_SHOW_ADD_AUDITORIUM(false)
      this.SET_SELECT_PLACE(place)
      this.TOGGLE_MODE_ADD_AUDITORIUM(this.modesModal.UPDATE)
      this.$nextTick(() => {
        this.TOGGLE_SHOW_ADD_AUDITORIUM(true)
      })
      // this.resetForm()
    },
    initEditModePlace() {
      const place = this.selectPlace
      this.name = place.name
      this.description = place.description
      // company: this.currentUsedCompany,
      this.placesCount = place.countPlaces
      this.srcImg = place.avatar
    },
    resetForm() {
      this.loading = false
      this.srcImg = this.filesImg = null
      this.placesCount = 10
      this.$refs.form.reset()
    },
    openFileDialog() {
      this.$refs.inputFile.click()
    },
    handlerFileChange(evt) {
      this.filesImg = evt.target.files || evt.dataTransfer.files
      if (!this.filesImg.length > 0) return
      // показать превью
      const reader = new FileReader()
      reader.onload = event => (this.srcImg = event.target.result)
      reader.readAsDataURL(this.filesImg[0])
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-upload {
  border: 2px dashed $color-green-light;
  border-radius: 4px;
}

.places {
  max-width: 220px;
  border-radius: 4px;
  border: 2px solid $color-green-light;
}
</style>
