<template>
  <section>
    <v-row align="center" class="ma-3">
<!--      <v-col cols="8" lg="4" xl="3" class="d-flex align-center justify-start mr-auto mb-n6">-->
<!--            <v-text-field-->
<!--              class="mx-4"-->
<!--              color="teal"-->
<!--              dense-->
<!--              outlined-->
<!--              placeholder="Искать по услуге, педагогу, ученику"-->
<!--              prepend-inner-icon="search"-->
<!--              autocomplete="off"-->
<!--            />-->
<!--      </v-col>-->
      <v-col class="d-flex align-center justify-start justify-lg-end" order-lg="last" cols="12" lg="6">
<!--        <v-btn :small="$vuetify.breakpoint.lg" text class="px-1">ИМПОРТ ИЗ EXCEL</v-btn>-->
<!--        <v-img max-width="80" src="/img/Print_icon.svg" />-->
        <v-btn
          class="white--text mx-2"
          @click="TOGGLE_SHOW_ADD_AUDITORIUM(true)"
          height="40"
          color="teal lighten-3"
        >Изменить Аудитории</v-btn>
        <v-btn
          class="white--text mx-2"
          @click="TOGGLE_SHOW_LESSON(true)"
          height="40"
          color="teal lighten-3"
        >Добавить занятие</v-btn>
      </v-col>

      <v-col class="d-flex align-center justify-start justify-lg-start" cols="12" lg="6">
        <div class="d-flex align-center grey--text">
          <v-menu
            v-model="menuDateSelected"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                color="teal lighten-3"
                v-on="on"
              >
                <v-icon large>event</v-icon>
              </v-btn>
            </template>
            <v-date-picker
              header-color="teal lighten-3"
              first-day-of-week="1"
              locale="ru"
              v-model="dateSelected"
            >
              <v-btn
                text
                color="teal"
                @click="menuDateSelected = false"
              >Закрыть</v-btn>
              <v-spacer></v-spacer>
              <v-btn text color="teal" @click="handlerSelectDate">Выбрать</v-btn>
            </v-date-picker>
          </v-menu>

          <v-btn class="pa-0" x-small @click="EMIT_CLICK_CHANGE_DATE({type: 'back'})" fab text>
            <v-icon>arrow_back_ios</v-icon>
          </v-btn>
          <span class="subtitle-1 font-weight-bold d-inline-block" style="width: 90px">{{ focusDay }}</span>
          <v-btn class="pa-0" x-small @click="EMIT_CLICK_CHANGE_DATE({type: 'next'})" fab text>
            <v-icon>arrow_forward_ios</v-icon>
          </v-btn>
        </div>
        <div class="d-flex align-center justify-start">
          <p class="subtitle-2 ma-0 mx-3">
            Период
            <br />показа:
          </p>
          <v-btn-toggle :value="currentTypeCalendar" @change="handlerSelectTypeCalendar" class="btn-group" color="teal lighten-3" dense mandatory>
            <v-btn :value="typesCalendar.DAY" width="125" outlined :ripple="{ class: `teal--text` }">день</v-btn>
            <v-btn :value="typesCalendar.WEEK" width="125" outlined :ripple="{ class: `teal--text` }">неделя</v-btn>
            <v-btn :value="typesCalendar.MONTH" width="125" outlined :ripple="{ class: `teal--text` }">месяц</v-btn>
          </v-btn-toggle>
<!--           <span :class="{'grey&#45;&#45;text': currentTypeCalendar === typesCalendar.MONTH}"  class="subtitle-2 ml-3 mr-1 text-center">-->
<!--            рабочее время-->
<!--          </span>-->
<!--           <v-switch-->
<!--              :disabled="currentTypeCalendar === typesCalendar.MONTH"-->
<!--              v-model="isTimeWork"-->
<!--              class="mt-0 mb-n4"-->
<!--              color="teal lighten-2"-->
<!--            ></v-switch>-->
        </div>
      </v-col>

<!--      <v-col class cols="12" xl="6">-->
<!--        <v-row align="center" justify="start">-->
<!--          <v-col cols="auto">-->
<!--            <p class="subtitle-2 text-uppercase text-center flex-shrink-0 ma-0">фильтровать по</p>-->
<!--          </v-col>-->
<!--          <v-col cols="3">-->
<!--            <v-select color="teal" :items="groups" label="Педагогу" />-->
<!--          </v-col>-->
<!--          <v-col cols="3">-->
<!--            <v-select color="teal" :items="groups" label="Услуге" />-->
<!--          </v-col>-->
<!--          <v-col cols="3">-->
<!--            <v-select color="teal" :items="groups" label="Аудитории" />-->
<!--          </v-col>-->
<!--        </v-row>-->
<!--      </v-col>-->
    </v-row>
  </section>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'ScheduleControllersHeader',
  data: () => ({
    menuDateSelected: false,
    dateSelected: null,
    isTimeWork: true,
    groups: [
      'Зайчата1',
      'Зайчата2',
      'Зайчата среднии',
      'Зайчата на вырост',
      'Совсем не зайчата'
    ]
  }),
  computed: {
    ...mapState('calendarModule', ['typesCalendar', 'currentTypeCalendar', 'focusDay'])

  },
  methods: {
    ...mapMutations('modalsModule', [
      'TOGGLE_SHOW_ADD_AUDITORIUM',
      'TOGGLE_SHOW_LESSON'
    ]),
    ...mapMutations('calendarModule', ['TOGGLE_TYPE_CALENDAR', 'TOGGLE_IS_TIME_WORK', 'EMIT_CLICK_CHANGE_DATE']),
    handlerSelectTypeCalendar(type) {
      this.TOGGLE_TYPE_CALENDAR(type)
    },
    handlerSelectDate() {
      this.menuDateSelected = false
      this.EMIT_CLICK_CHANGE_DATE({ type: 'date', value: this.dateSelected })
    }
  },
  watch: {
    isTimeWork(type) {
      this.TOGGLE_IS_TIME_WORK(type)
    }
  }
}
</script>
<style lang="scss" scoped>
.v-item--active {
  color: white !important;
  background-color: $color-green !important;
  border: 0px solid !important;
}
.btn-group {
  border: 1px solid $color-green-hover;
}
</style>
