<template>
  <mapa-modal
    :value="isShowLesson"
    @cancel="handlerClickCancel"
  >
    <v-card-title v-if="isCopyMode" class="headline pt-0">Копировать занятие</v-card-title>
    <v-card-title v-if="isUpdateMode" class="headline pt-0">Редактировать занятие</v-card-title>
    <v-card-title v-if="isAddMode" class="headline pt-0">Новое занятие</v-card-title>

    <v-card-text>
      <v-form ref="form" v-model="valid">
        <v-row>
          <v-col v-if="!isCopyMode" cols="12">
            <v-btn-toggle v-model="isBasedOnService" class="btn-group d-flex" color="teal lighten-3" mandatory>
              <v-btn
                :value="true"
                class="toggles"
                width="50%"
                height="44"
                outlined
                :ripple="{ class: `teal--text` }"
              >На основе услуги</v-btn>
              <v-btn
                :value="false"
                class="toggles"
                width="50%"
                height="44"
                outlined
                :ripple="{ class: `teal--text` }"
              >Без услуги</v-btn>
            </v-btn-toggle>
          </v-col>
          <v-col v-if="isBasedOnService" >
            <v-select
              label="Услуга"
              v-model="selectServiceId"
              :items="services"
              item-text="name"
              item-value="id"
              :rules="[rules.requiredSelect]"
              dense
              outlined
              color="teal lighten-3"
            />
          </v-col>
          <v-col v-else >
            <v-text-field
              outlined
              v-model="name"
              dense
              :rules="[rules.requiredSelect]"
              color="teal"
              label="Наименование"
            ></v-text-field>
          </v-col>
          <v-col >
            <v-select
              label="В аудитории"
              v-model="selectPlaceId"
              :items="places"
              item-text="name"
              item-value="id"
              :rules="[rules.requiredSelect]"
              dense
              outlined
              color="teal lighten-3"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-divider class="teal lighten-4" />
          </v-col>
          <v-col cols="4" class="pb-0">

            <!-- start date -->
            <v-menu
              v-model="menuDateStart"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  outlined
                  dense
                  :error-messages="errorStartDate"
                  :value="viewStartDate"
                  :rules="[rules.requiredSelect]"
                  color="teal"
                  label="Начало занятий"
                  prepend-inner-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-card>
                <v-date-picker
                  :max="dateEnd"
                  v-if="!isShowTimePicker"
                  header-color="teal lighten-3"
                  first-day-of-week="1"
                  locale="ru"
                  v-model="dateStart"
                >
                  <v-btn
                    text
                    color="teal"
                    @click="menuDateStart = false"
                  >Закрыть</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn text color="teal" @click="isShowTimePicker = true">Выбрать</v-btn>
                </v-date-picker>
                <v-time-picker
                  v-if="isShowTimePicker"
                  title
                  format="24hr"
                  v-model="timeStart"
                  color="teal lighten-3"
                >
                  <v-btn
                    text
                    color="teal"
                    @click="menuDateStart = false"
                  >Закрыть</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="teal"
                    @click="menuDateStart = false"
                  >Выбрать</v-btn>
                </v-time-picker>
              </v-card>
            </v-menu>
          </v-col>
          <v-col cols="4" class="pb-0">

            <!-- end date -->
            <v-menu
              v-model="menuDateEnd"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  outlined
                  dense
                  :value="viewFinishDate"
                  :rules="[rules.requiredSelect]"
                  color="teal"
                  label="Конец занятий"
                  prepend-inner-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                :min="dateStart"
                v-if="!isShowTimePicker"
                header-color="teal lighten-3"
                first-day-of-week="1"
                locale="ru"
                v-model="dateEnd"
              >
                <v-btn
                  text
                  color="teal"
                  @click="menuDateEnd = false"
                >Закрыть</v-btn>
                <v-spacer></v-spacer>
                <v-btn text color="teal" @click="isShowTimePicker = true">Выбрать</v-btn>
              </v-date-picker>
              <v-time-picker
                v-if="isShowTimePicker"
                format="24hr"
                v-model="timeEnd"
                color="teal lighten-3"
              >
                <v-btn
                  text
                  color="teal"
                  @click="menuDateEnd = false"
                >Закрыть</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="teal"
                  @click="menuDateEnd = false"
                >Выбрать</v-btn>
              </v-time-picker>
            </v-menu>
          </v-col>

          <!-- divider -->
          <v-col cols="12" class="pa-0" />

          <!--     элементы копирование-->
          <v-col v-if="isCopyMode || isAddMode" cols="12" class="pt-0">
            <v-row no-gutters align="end">
              <v-col cols="12">
                <v-radio-group v-model="modeCopy" class="mt-0 mb-n8">
                  <v-radio color="teal lighten-3" label="Без повторения" :value="typesModeCopy.NOT_REPEAT"></v-radio>
                  <v-radio color="teal lighten-3" label="Копия на 1 день" :value="typesModeCopy.SINGLE"></v-radio>
                  <v-radio
                    color="teal lighten-3"
                    label="Повторять событие"
                    :value="typesModeCopy.REPEAT"
                  ></v-radio>
                </v-radio-group>
              </v-col>
              <v-col cols="12" class="ml-6">
                <v-row no-gutters align="baseline">
                  <v-col cols="12">
                    <span class="body-2">Дни повторения</span>
                    <div class="d-inline-flex">
                      <v-checkbox
                        class="mx-2"
                        color="teal lighten-3"
                        :disabled="modeCopy !== typesModeCopy.REPEAT"
                        v-model="daysForRepeat"
                        v-for="d in Object.values(mapDays)"
                        :value="d.value"
                        :key="d.value"
                        :label="d.text"
                      ></v-checkbox>
                    </div>
                  </v-col>
                  <v-col cols="auto">
                    <span class="body-2 mr-3">Окончание</span>
                  </v-col>
                  <v-col cols="auto">
                    <v-radio-group v-model="endRepeat" row class="d-inline mb-n8">
                      <v-radio  :disabled="modeCopy !== typesModeCopy.REPEAT" color="teal lighten-3" label="Текущая неделя" :value="typesEndRepeat.CURRENT_WEEK"></v-radio>
                      <v-radio  :disabled="modeCopy !== typesModeCopy.REPEAT" color="teal lighten-3" label="Текущий месяц" :value="typesEndRepeat.MONTH"></v-radio>
                      <v-radio :disabled="modeCopy !== typesModeCopy.REPEAT" color="teal lighten-3" label="Дата" :value="typesEndRepeat.DATE"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col cols="3">
                    <v-menu
                      v-model="menuDateEndForRepeat"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          outlined
                          dense
                          :value="dateEndForRepeat"
                          :rules="endRepeat === typesEndRepeat.DATE ? [rules.requiredSelect] : []"
                          :disabled="endRepeat !== typesEndRepeat.DATE"
                          color="teal"
                          prepend-inner-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-card>
                        <v-date-picker
                          :min="dateStart"
                          header-color="teal lighten-3"
                          first-day-of-week="1"
                          locale="ru"
                          v-model="dateEndForRepeat"
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color="teal"
                            @click="menuDateEndForRepeat = false"
                          >Закрыть</v-btn>
                        </v-date-picker>
                      </v-card>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <!-- btn add teacher -->
          <v-col cols="4" class="pt-0">
            <v-menu
              :close-on-content-click="false"
              origin="center center"
              transition="scale-transition"
            >
              <template v-slot:activator="{ on }">
                <mapa-btn-plus @click.native="on.click">
                  добавить
                  <br />педагога
                </mapa-btn-plus>
              </template>
              <v-card max-height="85vh">
                <v-list>
                  <v-list-item-group v-model="selectedTeacherIds" multiple>
                    <p class="text-center" v-if="!teachers.length">Нет зарегистрированных педагогов</p>
                    <template v-for="item in teachers">
                      <v-list-item
                        :key="item.id"
                        :value="item.id"
                        active-class="teal--text"
                      >
                        <template v-slot:default="{ active, toggle }">
                          <v-list-item-action>
                            <v-checkbox
                              :input-value="active"
                              :true-value="item.id"
                              color="teal"
                              @click="toggle"
                            ></v-checkbox>
                          </v-list-item-action>
                          <v-list-item-content>
                            <v-list-item-title v-text="item.name"></v-list-item-title>
                          </v-list-item-content>
                        </template>
                      </v-list-item>
                      <v-divider :key="`divider-${item.id}`"></v-divider>
                    </template>
                  </v-list-item-group>
                </v-list>
              </v-card>
            </v-menu>
          </v-col>
          <v-col cols="8"  class="pt-0">
            <v-chip
              v-for="(teacher, i) in selectedTeacherChip"
              :key="i"
              class="ma-1"
              color="teal"
              text-color="grey darken-2"
              outlined
              close
              @click:close="selectedTeacherIds.splice(i, 1)"
            >{{teacher.name}}</v-chip>
          </v-col>
          <v-col cols="12">
            <v-textarea v-model="subject" color="teal" outlined rows="3" label="Тема занятия"></v-textarea>
          </v-col>
        </v-row>
        <v-row class="mt-auto">
          <v-col cols="12">
            <v-btn v-if="isAddMode"  @click="handlerClickAddLesson" :loading="loading" :disabled="loading" class="white--text mx-2" height="45" color="teal lighten-3">Добавить Занятие</v-btn>
            <v-btn v-if="isCopyMode"  @click="handlerClickCopyLesson" :loading="loading" :disabled="loading" class="white--text mx-2" height="45" color="teal lighten-3">Копировть Занятие</v-btn>
            <v-btn v-if="isUpdateMode" @click="handlerClickEditLesson" :loading="loading" :disabled="loading" class="white--text mx-2" height="45" color="teal lighten-3">Изменить Занятие</v-btn>
            <v-btn
              @click="handlerClickCancel"
              class="mx-2 px-10"
              outlined
              height="45"
              color="red"
            >Отмена</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import MapaBtnPlus from '.././MapaBtnPlus'
import { requiredSelect } from '../../utility/validRules'
import MapaModal from '../MapaModal'
import { daysOfInterval, deltaInCalendarDays, endMonth, endWeek, addDaysDate, formatISOString } from '@/utility/date'
import messages from '@/utility/messagesNotifications'
// 2019-09-18T19:00
export default {
  name: 'ScheduleModalLesson',
  data() {
    return {
      timeStart: null,
      timeEnd: null,
      isShowTimePicker: false,
      dateStart: null,
      dateEnd: null,
      errorStartDate: null,

      menuDateStart: false,
      menuDateEnd: false,

      name: '',
      subject: '',
      isBasedOnService: true,
      selectedTeacherIds: [],
      selectServiceId: null,
      selectPlaceId: null,

      modeCopy: 'NOT_REPEAT',
      typesModeCopy: {
        NOT_REPEAT: 'NOT_REPEAT',
        SINGLE: 'SINGLE',
        REPEAT: 'REPEAT'
      },
      daysForRepeat: [],
      dateEndForRepeat: null,
      menuDateEndForRepeat: false,
      endRepeat: 'CURRENT_WEEK',
      typesEndRepeat: {
        CURRENT_WEEK: 'CURRENT_WEEK',
        MONTH: 'MONTH',
        DATE: 'DATE'
      },
      mapDays: {
        mon: {
          value: 1,
          text: 'ПН'
        },
        tue: {
          value: 2,
          text: 'ВТ'
        },
        wen: {
          value: 3,
          text: 'СР'
        },
        thu: {
          value: 4,
          text: 'ЧТ'
        },
        fri: {
          value: 5,
          text: 'ПТ'
        },
        sat: {
          value: 6,
          text: 'СБ'
        },
        sun: {
          value: 0,
          text: 'ВС'
        }
      },
      rules: {
        requiredSelect
      },
      loading: false,
      valid: false
    }
  },
  components: {
    MapaBtnPlus,
    MapaModal
  },
  props: {},
  computed: {
    ...mapState('modalsModule', ['isShowLesson', 'currentModeModalLesson', 'modesModal']),
    ...mapState('servicesModule', ['services']),
    ...mapState('placesModule', ['places']),
    ...mapState('teachersModule', ['teachers']),
    ...mapState('eventsModule', ['selectEvent']),
    isAddMode() {
      return this.currentModeModalLesson === this.modesModal.ADD
    },
    isCopyMode() {
      return this.currentModeModalLesson === this.modesModal.COPY
    },
    isUpdateMode() {
      return this.currentModeModalLesson === this.modesModal.UPDATE
    },
    selectedTeacherChip() {
      return this.teachers.filter(item =>
        this.selectedTeacherIds.includes(item.id)
      )
    },
    viewStartDate() {
      return this.dateStart && this.timeStart ? `c ${this.dateStart}, ${this.timeStart}` : ''
    },
    viewFinishDate() {
      return this.dateEnd && this.timeEnd ? `по ${this.dateEnd}, ${this.timeEnd}` : ''
    }
  },
  methods: {
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_LESSON']),
    ...mapActions('eventsModule', ['saveEvent', 'updateEvent']),
    ...mapActions('notificationsModule', ['showNotification']),
    validModal() {
      if (this.validDate()) this.errorStartDate = null
      else this.errorStartDate = 'Дата старта больше даты окончания'

      this.$refs.form.validate()
    },
    prepareData() {
      return {
        subject: this.subject,
        startDate: `${this.dateStart}T${this.timeStart}`,
        finishDate: `${this.dateEnd}T${this.timeEnd}`,
        placeId: this.selectPlaceId,
        teachersIds: this.selectedTeacherIds,
        serviceId: this.selectServiceId,
        name: this.name
      }
    },
    async handlerClickAddLesson() {
      this.validModal()
      if (!this.valid) return

      this.loading = true
      await this.saveEvent(this.prepareData())
      this.showNotification({ text: messages.addLesson })
      await this.handlerClickCopyLesson()
      // this.handlerClickCancel()
      // this.resetForm()
    },
    async handlerClickEditLesson() {
      this.validModal()
      if (!this.valid) return

      this.loading = true
      try {
        const data = this.prepareData()
        // добавляем id для возможности изменить эвент
        data.id = this.selectEvent.id
        await this.updateEvent(data)
      } finally {
        this.handlerClickCancel()
        this.resetForm()
      }
    },
    async handlerClickCopyLesson() {
      this.validModal()
      if (!this.valid) return

      this.loading = true
      try {
        const data = this.prepareData()

        if (this.modeCopy === this.typesModeCopy.NOT_REPEAT) {
          return
        } else if (this.modeCopy === this.typesModeCopy.SINGLE) {
          await this.saveEvent(data)
          this.showNotification({ text: messages.copyLesson })
        } else if (this.modeCopy === this.typesModeCopy.REPEAT) {
          let finishDate
          // выбираем нужную дату окончания
          if (this.endRepeat === this.typesEndRepeat.CURRENT_WEEK) {
            finishDate = endWeek()
          } else if (this.endRepeat === this.typesEndRepeat.MONTH) {
            finishDate = endMonth()
          } else if (this.endRepeat === this.typesEndRepeat.DATE) {
            finishDate = this.dateEndForRepeat
          }
          // массив дат до которые будут до окончания
          const intervalDays = daysOfInterval(new Date(), finishDate)
          const validIntervalTimeForEvents = []
          // дельта в днях между началом и концом
          const deltaCountDays = deltaInCalendarDays(data.finishDate, data.startDate)
          intervalDays.forEach(d => {
          // фильтруем по выбранным дням повторения
            if (this.daysForRepeat.includes(d.getDay())) {
              const start = `${formatISOString(d).split('T')[0]}T${this.timeStart}`
              const endDate = addDaysDate(d, deltaCountDays)
              const end = `${formatISOString(endDate).split('T')[0]}T${this.timeEnd}`
              validIntervalTimeForEvents.push({ start, end })
            }
          })
          await Promise.all(validIntervalTimeForEvents.map(d => {
            return this.saveEvent({ ...data, startDate: d.start, finishDate: d.end })
          }))
          this.showNotification({ text: `Скопировано занятий ${validIntervalTimeForEvents.length}` })
        }
      } finally {
        this.handlerClickCancel()
        this.resetForm()
      }
    },
    initEditModeLesson() {
      const evt = this.selectEvent
      console.log(evt)

      this.timeStart = evt.startTime
      this.timeEnd = evt.finishTime
      this.dateStart = evt.startDay
      this.dateEnd = evt.finishDay
      this.name = evt.name
      this.subject = evt.subject
      this.isBasedOnService = !!evt.service
      this.selectedTeacherIds = evt.teachers.map(t => t.id)
      this.selectServiceId = evt.service ? evt.service.id : null
      this.selectPlaceId = evt.place ? evt.place.id : null
    },
    async handlerClickCancel() {
      this.TOGGLE_SHOW_LESSON(false)
      // this.resetForm()
    },
    resetForm() {
      if (this.$refs.form) this.$refs.form.resetValidation()

      this.resetDates()
      this.loading = false
      this.selectedTeacherIds = []
      this.subject = ''
      this.name = ''
      this.selectServiceId = null
      this.selectPlaceId = null

      this.modeCopy = 'NOT_REPEAT'
      this.endRepeat = 'CURRENT_WEEK'
      this.menuDateEndForRepeat = false
      this.dateEndForRepeat = null
      this.daysForRepeat = []
    },
    resetDates() {
      this.isShowTimePicker = false
      this.errorStartDate = null
      this.dateStart = this.dateEnd = this.timeStart = this.timeEnd = null

      //
    },
    validDate() {
      const start = new Date(`${this.dateStart}T${this.timeStart}`)
      const end = new Date(`${this.dateEnd}T${this.timeEnd}`)
      return end.getTime() > start.getTime()
    }
  },
  watch: {
    isShowLesson(val) {
      // момент открытия окна
      if (val === true) {
        this.resetForm()
        if (this.isUpdateMode) this.initEditModeLesson()
        if (this.isCopyMode) this.initEditModeLesson()
      }
    },
    // наблюдаем за закрытием меню даты
    menuDateStart(val) {
      if (val === false) {
        this.isShowTimePicker = false
        if (!this.dateStart || !this.timeStart) this.resetDates()
      }
    },
    menuDateEnd(val) {
      if (val === false) {
        this.isShowTimePicker = false
        if (!this.dateEnd && !this.timeEnd) this.resetDates()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-item--active.toggles {
  color: white !important;
  background-color: $color-green !important;
  border: 0px solid !important;
}
.btn-group {
  border: 1px solid $color-green-hover;
}
</style>
