<template>
  <v-row>
    <v-col cols="12" class="pt-0">
       <v-btn @click="handlerClickToday" color="teal lighten-2" outlined text>
         сегодня
       </v-btn>
      <span :class="{'grey--text': currentTypeCalendar === typesCalendar.MONTH}"  class="subtitle-2 ml-3 mr-1 text-center">
            рабочее время
      </span>
      <v-switch
        :disabled="currentTypeCalendar === typesCalendar.MONTH"
        @change="TOGGLE_IS_TIME_WORK($event)"
        class="mt-0 mb-n4 d-inline-flex"
        color="teal lighten-2"
      ></v-switch>
    </v-col>
    <v-col>
      <v-sheet height="600">
        <v-calendar
          :first-interval="isTimeWork ? 7 : 0"
          :interval-count="isTimeWork ? 13 : 24"
          event-color="#D8E6E7"
          event-text-color="grey darken-2"
          :event-name="evt=> evt.input.name "
          event-end="finishDate"
          event-start="startDate"
          :events="events"
          :short-intervals="false"
          :weekdays="[1, 2, 3, 4, 5, 6, 0] "
          ref="calendar"
          :now="today"
          v-model="focusDay"
          color="teal lighten-3"
          :type="currentTypeCalendar"
          @click:event="handlerClickEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @click:day="viewDay"
        >
          <template v-slot:day-label-header="{ day }">
            <span class="body-1">{{day}}</span>
          </template>
        </v-calendar>
        <v-menu
          v-model="isOpenSelectedEvent"
          :close-on-content-click="false"
          :activator="selectedElementEvent"
          offset-x
        >
          <v-card
            v-if="selectedEvent"
            color="grey lighten-4"
            min-width="400px"
            flat
          >
            <v-toolbar
              color="teal lighten-3"
              dark
              dense
            >
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
              <v-spacer></v-spacer>
               <v-btn
                 @click="handlerClickEdit"
                 icon
                 small
                >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn @click="handlerClickCopy" small icon>
                <v-icon >content_copy</v-icon>
              </v-btn>
              <v-btn @click="handlerClickCheck" small icon>
                <v-icon >check</v-icon>
              </v-btn>
              <!-- <v-btn @click="TOGGLE_SHOW_LESSON(true);TOGGLE_COPY_MODE_ADD_LESSON(true)" small icon>
                <v-icon >repeat</v-icon>
              </v-btn> -->

              <v-btn @click="handlerClickDelete" small icon>
                <v-icon >delete_forever</v-icon>
              </v-btn>
              <v-btn
                class="ml-4"
                icon
                small
                @click="isOpenSelectedEvent = false"
              >
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
                <p class="body-2 ma-1">{{selectedEvent.deltaDate}}</p>
                <p v-if="selectedEvent.subject" class="body-2 ma-1"><strong>Тема занятия: </strong>{{selectedEvent.subject}}</p>
                <p v-for="t in selectedEvent.teachers" :key="t.id" class="body-2 ma-1"><strong>Педагог: </strong> {{t.name}}</p>
                <p class="body-2 ma-1"><strong>Место: </strong> {{selectedEvent.place.name}}</p>
            </v-card-text>
          </v-card>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  data: () => ({
    focusDay: null,
    selectedEvent: null,
    selectedElementEvent: null,
    isOpenSelectedEvent: false,
    today: new Date().toISOString().substr(0, 10)
  }),
  created() {
    this.selectedEvent = this.events[0]
  },
  mounted() {
    this.focusDay = this.today
    this.$refs.calendar.scrollToTime('08:00')
  },
  computed: {
    ...mapState('calendarModule', ['currentTypeCalendar', 'typesCalendar', 'isTimeWork', 'eventClickChangeDate']),
    ...mapState('eventsModule', ['events']),
    ...mapState('modalsModule', ['modesModal'])
  },
  watch: {
    eventClickChangeDate({ type, value }) {
      if (type === 'next') this.$refs.calendar.next()
      if (type === 'back') this.$refs.calendar.prev()
      if (type === 'date') {
        this.focusDay = value
        this.TOGGLE_TYPE_CALENDAR(this.typesCalendar.DAY)
      }
    },
    focusDay(day) {
      this.SET_FOCUS_DAY(day)
    }
  },
  methods: {
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_INFO_EVENT', 'TOGGLE_SHOW_LESSON', 'TOGGLE_MODE_LESSON', 'TOGGLE_SHOW_CHECK_STUDENT']),
    ...mapMutations('calendarModule', ['TOGGLE_TYPE_CALENDAR', 'SET_FOCUS_DAY', 'TOGGLE_IS_TIME_WORK']),
    ...mapMutations('eventsModule', ['SET_SELECT_EVENT']),
    ...mapActions('eventsModule', ['deleteEvent']),
    ...mapActions('notificationsModule', ['confirmUserAction']),
    handler(evt) {
      console.log(evt)
    },
    viewDay({ date }) {
      this.focusDay = date
      this.TOGGLE_TYPE_CALENDAR(this.typesCalendar.DAY)
    },
    handlerClickEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElementEvent = nativeEvent.target
        setTimeout(() => (this.isOpenSelectedEvent = true), 10)
      }

      if (this.isOpenSelectedEvent) {
        this.isOpenSelectedEvent = false
        setTimeout(open, 10)
      } else {
        open()
      }
      nativeEvent.stopPropagation()
    },
    handlerClickToday() {
      this.focusDay = this.today
      this.TOGGLE_TYPE_CALENDAR(this.typesCalendar.DAY)
    },
    handlerClickCheck() {
      this.SET_SELECT_EVENT(this.selectedEvent)
      this.TOGGLE_SHOW_CHECK_STUDENT(true)
    },
    handlerClickEdit() {
      this.SET_SELECT_EVENT(this.selectedEvent)
      this.TOGGLE_MODE_LESSON(this.modesModal.UPDATE)
      this.TOGGLE_SHOW_LESSON(true)
    },
    handlerClickCopy() {
      this.SET_SELECT_EVENT(this.selectedEvent)
      this.TOGGLE_MODE_LESSON(this.modesModal.COPY)
      this.TOGGLE_SHOW_LESSON(true)
    },
    async handlerClickDelete() {
      const isResolve = await this.confirmUserAction()
      if (isResolve) {
        await this.deleteEvent(this.selectedEvent.id)
        this.isOpenSelectedEvent = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.card:hover {
  position: absolute;
  z-index: 1000;
  width: 176px;
  max-width: 200px !important;

  background-color: rgb(14, 167, 22);
}
.event {
  border: 1px solid white !important;
}
</style>
