<template>
  <mapa-modal :value="isShowCheckStudent" @cancel="handlerClickCancel">
    <v-card-title
      v-if="selectEvent"
      class="headline pt-0 pb-1"
    >Посещаемость занятия: {{selectEvent.name}}</v-card-title>
    <v-card-text v-if="selectEvent">
      <p class="subtitle-2" v-text="selectEvent.deltaDate" />
      <v-row>
        <v-col cols="6">
          <v-text-field
            label="В аудитории"
            :value="selectEvent.place.name"
            readonly
            dense
            outlined
            color="teal"
          />
        </v-col>
        <v-col cols="6">
          <v-text-field
            v-for="t in selectEvent.teachers"
            :key="t.id"
            :value="t.name"
            label="Провел учитель"
            readonly
            dense
            outlined
            color="teal"
          />
        </v-col>
        <!-- добавить ученика -->
        <v-col cols="12">
          <mapa-select-chips :items="groupsChildrensFilter" v-model="selectedChildrens">
            добавить
            <br />детей
          </mapa-select-chips>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="selectEvent.subject"
            readonly
            color="teal"
            outlined
            rows="3"
            label="Тема занятия"
          ></v-textarea>
        </v-col>
        <!--        Отметить посещаемость для всех учеников-->
        <v-col cols="12" class="pb-0">
          <v-select
            label="Отметить посещаемость для всех учеников"
            :items="typeAttendance"
            @change="handlerChangAddChildrens($event)"
            dense
            outlined
            color="teal"
          >
            <template v-slot:item="{item}">
              <span class="subtitle-2">
                <v-icon :color="item.color" small class="mr-2">stop_circle</v-icon>
                {{item.text}}
              </span>
            </template>
            <template v-slot:selection="{ item }">
              <span class="body-1 text--primary">
                <v-icon :color="item.color" small class="mr-2">stop_circle</v-icon>
                {{item.text}}
              </span>
            </template>
          </v-select>
        </v-col>
        <!-- students-->
        <v-col cols="12" class="pt-0">
          <v-row>
            <v-col cols="4">
              <p class="subtitle-2 mb-0">Дети</p>
            </v-col>
            <v-col cols="6">
              <p class="subtitle-2 mb-0">Посещаемость</p>
            </v-col>
            <v-col cols="12" v-for="children in viewChildrens" :key="children.id" class="py-0">
              <v-row align="center">
                <v-col cols="4" class="py-0">
                  <p class="body-2">{{children.name}}</p>
                </v-col>
                <v-col cols="6" class="py-0">
                  <v-select
                    v-model="children.presence"
                    :items="typeAttendance"
                    @change="handlerChangChildren(children.id)"
                    dense
                    outlined
                    color="teal"
                  >
                    <template v-slot:item="{item}">
                      <span class="subtitle-2">
                        <v-icon :color="item.color" small class="mr-2">stop_circle</v-icon>
                        {{item.text}}
                      </span>
                    </template>
                    <template v-slot:selection="{ item }">
                      <span class="body-1 text--primary">
                        <v-icon :color="item.color" small class="mr-2">stop_circle</v-icon>
                        {{item.text}}
                      </span>
                    </template>
                  </v-select>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row class="mt-auto">
        <v-col cols="12">
          <v-btn
            @click="handlerClickMarkAttendance"
            :loading="loading"
            :disabled="loading"
            class="white--text mx-2"
            height="45"
            color="teal lighten-3"
          >Отметить посещаемость</v-btn>
          <v-btn
            @click="handlerClickCancel"
            class="mx-2 px-10"
            outlined
            height="45"
            color="red"
          >Отмена</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </mapa-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import MapaSelectChips from '.././MapaSelectChips'
import { requiredSelect } from '../../utility/validRules'
import MapaModal from '../MapaModal'
import messages from '../../utility/messagesNotifications'

export default {
  name: 'ScheduleModalCheck',
  data() {
    return {
      selectedChildrens: [],
      viewChildrens: [],
      // дети у которых была изменена посещаемость
      changedChildrens: [],

      loading: false,
      rules: {
        requiredSelect
      }
    }
  },
  components: {
    MapaSelectChips,
    MapaModal
  },
  props: {},
  computed: {
    ...mapState('modalsModule', ['isShowCheckStudent']),
    ...mapState('eventsModule', ['typeAttendance', 'selectEvent']),
    ...mapState('childrensModule', ['groupsChildrens', 'childrensForEvent']),
    groupsChildrensFilter() {
      // фильтр для уже добавленных
      const groups = []
      this.groupsChildrens.forEach(group => {
        // копируем объект c группой детей
        const copyGroup = { id: group.id, name: group.name }
        copyGroup.children = group.children.filter(child => {
          return this.childrensForEvent.findIndex(ch => ch.id === child.id) === -1
        })
        groups.push(copyGroup)
      })
      return groups
    }
  },
  created() {
  },
  methods: {
    ...mapMutations('modalsModule', ['TOGGLE_SHOW_CHECK_STUDENT']),
    ...mapActions('childrensModule', ['getChildrensForSelectEvent', 'saveChildrenAttendance', 'updateChildrenAttendance']),
    ...mapActions('notificationsModule', ['showNotification']),
    ...mapActions('ordersModule', ['getOrders']),
    handlerChangAddChildrens(val) {
      // у всех видемых детей выставляем выбраанную посещеемость
      this.viewChildrens.forEach(c => {
        c.presence = val
        // добавляем их в список для измененных
        this.handlerChangChildren(c.id)
      })
    },
    handlerChangChildren(val) {
      // добавляем только уникальные
      if (!this.changedChildrens.includes(val)) {
        this.changedChildrens.push(val)
      }
    },
    async handlerClickMarkAttendance() {
      this.loading = true
      try {
        await this.updateAttendance()
        await this.saveAttendance()
        // обновить заказы, для новой посещаемости
        // TODO точечное обновление а не все
        this.getOrders()
        this.showNotification({ text: messages.updateAttendance })
      } finally {
        this.handlerClickCancel()
      }
    },
    // сохранить учеников которые добавленны
    async saveAttendance() {
      if (!this.changedChildrens.length) return
      await Promise.all(this.changedChildrens.map(async id => {
        const children = this.selectedChildrens.find(c => c.id === id)
        if (!children) return
        await this.saveChildrenAttendance({
          idEvent: this.selectEvent.id,
          idChildren: children.id,
          presence: children.presence
        })
      }))
    },
    // обновить уже существуещих
    async updateAttendance() {
      if (!this.changedChildrens.length) return
      await Promise.all(this.changedChildrens.map(async id => {
        const children = this.childrensForEvent.find(c => c.id === id)
        if (!children) return
        // если есть посещаемость то обновляем
        if (children.attendance.id) {
          await this.updateChildrenAttendance({
            idAttendance: children.attendance.id,
            presence: children.presence
          })
          // если нет посещаемость то добавляем
        } else {
          await this.saveChildrenAttendance({
            idEvent: this.selectEvent.id,
            idChildren: children.id,
            presence: children.presence
          })
        }
      }))
    },
    async handlerClickCancel() {
      this.TOGGLE_SHOW_CHECK_STUDENT(false)
    },
    resetModal() {
      this.loading = false
      this.selectedChildrens = []
      this.viewChildrens = []
      this.changedChildrens = []
    }
  },
  watch: {
    selectedChildrens() {
      // добавляем поле для посещаемости
      this.selectedChildrens.forEach(c => { c.presence = null })
      this.viewChildrens = [...this.childrensForEvent, ...this.selectedChildrens]
    },
    // наблюдаем за открытием окна
    async isShowCheckStudent(val) {
      if (val) {
        await this.getChildrensForSelectEvent()
        this.viewChildrens = [...this.childrensForEvent, ...this.selectedChildrens]
      } else {
        // при закрытие
        this.resetModal()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
