<template>
  <div class="mx-3">
    <v-sheet>
      <invoices-for-children-table v-show="childrenId && !selectInvoice"  />
      <invoices-all-table v-show="!childrenId && !selectInvoice" />
      <invoice-change v-if="selectInvoice" />
    </v-sheet>
  </div>
</template>

<script>
import InvoicesAllTable from '../components/pageInvoices/InvoicesAllTable'
import InvoicesForChildrenTable from '../components/pageInvoices/InvoicesForChildrenTable'
import InvoiceChange from '../components/pageInvoices/InvoiceChange'
import { mapMutations, mapState, mapActions } from 'vuex'

export default {
  name: 'Invoices',
  components: {
    InvoicesForChildrenTable,
    InvoicesAllTable,
    InvoiceChange
  },
  computed: {
    ...mapState('invoicesModule', ['selectInvoice']),
    childrenId() {
      return this.$route.params.childrenId || null
    }
  },
  created() {
    // сбросить выбранный счет
    this.SET_SELECT_INVOICE(null)
    // загрузка данных для страницы с заказами
    this.getFinancesChildrens()
  },
  methods: {
    ...mapMutations('invoicesModule', ['SET_SELECT_INVOICE']),
    ...mapActions('invoicesModule', ['getFinancesChildrens'])
  }
}
</script>
<style lang="scss" scoped>
</style>
