<template>
  <div>
    <v-sheet>
      <orders-controllers-header />
      <orders-table />
    </v-sheet>
    <orders-modal-change />
    <orders-modal-info />
  </div>
</template>

<script>
import OrdersModalInfo from '../components/pageOrders/OrdersModalInfo'
import OrdersModalChange from '../components/pageOrders/OrdersModalChange'
import OrdersTable from '../components/pageOrders/OrdersTable'
import OrdersControllersHeader from '../components/pageOrders/OrdersControllersHeader'
import { mapActions } from 'vuex'

export default {
  name: 'Orders',
  components: {
    OrdersControllersHeader,
    OrdersTable,
    OrdersModalChange,
    OrdersModalInfo
  },
  created() {
    this.getOrders()
    this.getGroupsChildrens()
    this.getProducts()
  },
  methods: {
    ...mapActions('ordersModule', ['getOrders']),
    ...mapActions('productsModule', ['getProducts']),
    ...mapActions('childrensModule', ['getGroupsChildrens'])
  }
}
</script>
<style lang="scss" scoped>
</style>
