<template>
  <div>
    <v-sheet>
      <schedule-controllers-header />
      <schedule-calendar class="ma-4" />
    </v-sheet>
    <schedule-modal-add-auditorium />
    <schedule-modal-lesson />
    <schedule-modal-info-event />
    <schedule-modal-check />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import ScheduleCalendar from '../components/pageSchedule/ScheduleCalendar'
import ScheduleControllersHeader from '../components/pageSchedule/ScheduleControllersHeader'
import ScheduleModalAddAuditorium from '../components/pageSchedule/ScheduleModalAddAuditorium'
import ScheduleModalLesson from '../components/pageSchedule/ScheduleModalLesson'
import ScheduleModalInfoEvent from '../components/pageSchedule/ScheduleModalInfoEvent'
import ScheduleModalCheck from '../components/pageSchedule/ScheduleModalCheck'

export default {
  name: 'Schedule',
  components: {
    ScheduleCalendar,
    ScheduleControllersHeader,
    ScheduleModalAddAuditorium,
    ScheduleModalLesson,
    ScheduleModalInfoEvent,
    ScheduleModalCheck
  },
  created() {
    this.getEvents()
    this.getPlaces()
    this.getTeachers()
    this.getGroupsChildrens()
  },
  methods: {
    // загрузка данных для страницы с расписанием
    ...mapActions('eventsModule', ['getEvents']),
    ...mapActions('placesModule', ['getPlaces']),
    ...mapActions('teachersModule', ['getTeachers']),
    ...mapActions('childrensModule', ['getGroupsChildrens'])
  }
}
</script>
<style lang="scss" scoped>
</style>
