<template>
  <div>
    <v-sheet>
      <services-controllers-header />
      <services-table />
    </v-sheet>
    <services-modal-change />
    <services-modal-info />
  </div>
</template>

<script>
import ServicesControllersHeader from '../components/pageServices/ServicesControllersHeader'
import ServicesTable from '../components/pageServices/ServicesTable'
import ServicesModalChange from '../components/pageServices/ServicesModalChange'
import ServicesModalInfo from '../components/pageServices/ServicesModalInfo'

export default {
  name: 'Services',
  components: {
    ServicesControllersHeader,
    ServicesTable,
    ServicesModalChange,
    ServicesModalInfo
  }
}
</script>
<style lang="scss" scoped>
</style>
