<template>
  <!--конфигурация тарифа-->
  <v-row dense>
    <v-col cols="8">
      <span class="subtitle-2">Название тарифа:</span>
      <span class="body-1 font-weight-bold"> {{tariff.name}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Стоимость:</span>
      <span class="body-1"> {{tariff.price}} {{tariff.currency}}</span>
    </v-col>

    <!--Мини делитель-->
    <v-col cols="12" class="pb-2">
<!--      <v-divider class="teal lighten-3"></v-divider>-->
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Компенсация фиксированная:</span>
      <span class="body-1"> {{tariff.compenFromState}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Компенсация по болезни:</span>
      <span class="body-1"> {{tariff.compenDiseaseAmount}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2"> Компенсация по ув. причине:</span>
      <span class="body-1"> {{tariff.compenApprovedAmount}}</span>
    </v-col>

    <!--Мини делитель-->
    <v-col cols="12" class="pb-2">
<!--      <v-divider class="teal lighten-3"></v-divider>-->
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Выставлять счет:</span>
      <span class="body-1"> {{typesBillingFrequency[tariff.billingFrequency].text}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Период выставления счёта:</span>
      <span class="body-1"> {{typesPeriod[tariff.period].text}}</span>
    </v-col>

    <!--Мини делитель-->
    <v-col cols="12" class="pb-2">
<!--      <v-divider class="teal lighten-3"></v-divider>-->
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Число месяца:</span>
      <span class="body-1"> {{tariff.payDay}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Оплатить в течение:</span>
      <span class="body-1"> {{tariff.payWithin}}</span>
    </v-col>
    <!--Делитель-->
    <v-col cols="12" class="mb-5">
      <div class="dashed-bottom" />
    </v-col>
  </v-row>
</template>

<script>
import { TYPES_PERIOD, TYPES_BILLING_FREQUENCY } from '../../../models/Product'

export default {
  name: 'previewSpecialByPlan',
  data() {
    return {
      typesBillingFrequency: TYPES_BILLING_FREQUENCY,
      typesPeriod: TYPES_PERIOD,
      placeSuffix: 'руб'
    }
  },
  props: {
    tariff: {
      type: Object
      // required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.dashed-bottom {
  border-bottom: 2px dashed $color-green-light;
}
</style>
