<template>
  <!--конфигурация тарифа-->
  <v-row dense>
    <v-col cols="6">
      <span class="subtitle-2">Название тарифа:</span>
      <span class="body-1 font-weight-bold"> {{tariff.name}}</span>
    </v-col>
    <v-col cols="3">
      <span class="subtitle-2">Стоимость:</span>
      <span class="body-1"> {{tariff.price}} {{tariff.currency}}</span>
    </v-col>
    <v-col cols="3">
      <span class="subtitle-2">Кол-во ед. услуги:</span>
      <span class="body-1"> {{tariff.quantity}}</span>
    </v-col>

    <!--Мини делитель-->
    <v-col cols="12" class="pb-2">
<!--      <v-divider class="teal lighten-3"></v-divider>-->
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Дата начала:</span>
      <span class="body-1"> {{tariff.formattedStartDate}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Дата конца:</span>
      <span class="body-1"> {{tariff.formattedFinishDate}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Кол-во дней:</span>
      <span class="body-1"> {{tariff.expireDays}}</span>
    </v-col>
    <!--Мини делитель-->
    <v-col cols="12" class="pb-2">
<!--      <v-divider class="teal lighten-3"></v-divider>-->
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Стоимость переноса:</span>
      <span class="body-1"> {{tariff.compensationTransferCosts}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Макс. кол-во переносов:</span>
      <span class="body-1"> {{tariff.numberOfTransfers}}</span>
    </v-col>

    <!--Мини делитель-->
    <v-col cols="12" class="pb-2">
<!--      <v-divider class="teal lighten-3"></v-divider>-->
    </v-col>

    <v-col cols="4">
      <span class="subtitle-2">Оплатить в течение:</span>
      <span class="body-1"> {{tariff.payWithin}}</span>
    </v-col>
    <v-col cols="4">
      <span class="subtitle-2">Автопродление:</span>
      <span class="body-1"> {{tariff.isAutoRenewable ? 'включенно' : 'выключенно'}}</span>
    </v-col>
    <!--Отправить счет автоматически-->
    <!--Делитель-->
    <v-col cols="12" class="mb-5">
      <div class="dashed-bottom" />
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: 'previewByPlan',
  data() {
    return {
      placeSuffix: 'руб'
    }
  },
  props: {
    tariff: {
      type: Object
      // required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.dashed-bottom {
  border-bottom: 2px dashed $color-green-light;
}
</style>
