<template>
  <ul class="tabs">
      <li class="tabs__tab">
        <router-link class="tabs__link" active-class="tabs__tab--active" :to="{ name: 'services' }">Все услуги</router-link>
      </li>
      <li class="tabs__tab">
        <router-link class="tabs__link" active-class="tabs__tab--active" :to="{ name: 'schedule' }">Расписание</router-link>
      </li>
      <li class="tabs__tab">
        <router-link class="tabs__link" active-class="tabs__tab--active" :to="{ name: 'orders' }">Заказы</router-link>
      </li>
      <li class="tabs__tab">
        <router-link class="tabs__link" active-class="tabs__tab--active" :to="{ name: 'invoices' }">Счета</router-link>
      </li>
    </ul>
</template>

<script>

export default {
  name: 'MapaNavigation'
}
</script>
<style lang="scss" scoped>

  .tabs {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  border-bottom: 2px solid #D8E6E7;

  list-style: none;
}
.tabs__tab {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.tabs__tab:first-child .tabs__link {
  border-top-left-radius: 4px;
}

.tabs__tab:last-child .tabs__link {
  border-top-left-radius: 4px;
}
.tabs__tab--active {
  font-weight: 700;
  color: #615D6A;

  background-color: $color-green-light;
}
.tabs__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;

  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #586066;
}

.tabs__link:hover {
  background-color: #F4F4F4;
}

</style>
