<template>
  <v-col cols="12" class="my-2">
    <div class="dashed-bottom" />
  </v-col>
</template>

<script>

export default {
  name: 'MapaDivider',
  data() {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
  .dashed-bottom {
    border-bottom: 2px dashed $color-green-light;
  }
</style>
