<template>
  <v-app-bar
    height="100"
    flat
    app
    color="white"
  >
    <v-row no-gutters align="center" justify="center">

      <v-col cols="2" lg="1">
        <v-btn
          height="100"
          block
          depressed
          tile
          :href="baseUrl + navItems[0][1]"
        >
          <v-img
            src="/img/logo.png">

          </v-img>
        </v-btn>
      </v-col>

      <v-col lg="7" class="nav-link mx-auto">
        <v-row no-gutters align="center" justify="center">
          <v-col cols="2" v-for="i in navItems" :key="i[2]" class="d-flex justify-center">
            <v-hover
              v-slot:default="{ hover }"
            >
              <v-btn
                :color="hover || i[0] === 'CRM' ? '#D8E6E7' : ''"
                class="px-2"
                block
                depressed
                tile
                :href="baseUrl + i[1]"
                height="100"
              >
                <div class="d-flex flex-column justify-center align-center">
                  <v-img
                    :src="'/img/icons/' + (hover ? i[2].split('.')[0] + '_h.png' : i[2])"
                    contain
                    height="46"
                    width="46"
                  />
                  <p class="mt-1">{{i[0]}}</p>
                </div>
              </v-btn>
            </v-hover>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="2" lg="1">
<!--        <v-btn-->
<!--          text-->
<!--          :href="baseUrl + '/ru/portal/'"-->
<!--        >-->
<!--          <v-img-->
<!--            src="/img/logo.png">-->

<!--          </v-img>-->
<!--        </v-btn>-->
      </v-col>
    </v-row>
  </v-app-bar>
</template>

<script>

export default {
  name: 'MapaHeader',
  data() {
    return {
      navItems: [
        ['Главная', '/ru/portal/', 'ico_1.png'],
        ['Анализ', '/ru/portal/analyse/', 'ico_3.png'],
        ['Галерея', '/ru/portal/gallery/', 'ico_4.png'],
        ['Сообщения', '/ru/portal/posts/', 'ico_5.png'],
        ['Дети', '/ru/portal/children/', 'ico_6.png'],
        ['CRM', '/ru/crm/', 'ico_34.png']
      ],
      baseUrl: process.env.VUE_APP_API_BASE_URL
    }
  }
}
</script>
<style scoped>
  .nav-link{
    transition: all ease 0.3s;
  }
</style>
