<template>
  <v-input
    class="pb-2"
    :append-icon="discounts.length === count + 1 ? 'add' : null"
    @click:append="handlerAddDiscount"
    :rules="rules"
    :value="discount.discount"
    color="teal"
    dense
  >
    <v-row no-gutters>
      <v-col cols="5" class="text">
        <v-text-field
          class="mb-n6"
          :append-icon="discounts.length > 1 ? 'delete' : null"
          @click:append="handlerDeleteDiscount"
          :value="discount.discount"
          @input="handlerChangeDiscount"
          dense
          outlined
          type="number"
          step="1"
          min="0"
          max="10000"
          autocomplete="off"
          label="Скидка"
          color="teal"
        >
        </v-text-field>
      </v-col>
      <v-col cols="7" class="type">
        <v-select
          class="mb-n6"
          outlined
          dense
          :items="Object.values(typesDiscounts)"
          v-model="discount.discountType"
          item-text="text"
          item-value="value"
          color="teal"
        />
      </v-col>
    </v-row>
  </v-input>
</template>

<script>
import { TYPES_DISCOUNT } from '../models/Discount'

export default {
  name: 'MapaDiscountField',
  data: () => ({
    typesDiscounts: TYPES_DISCOUNT
  }),
  model: {
    prop: 'discount',
    event: 'update:discount'
  },
  props: {
    discount: {
      type: Object,
      required: true
    },
    discounts: {
      type: Array,
      default: () => []
    },
    count: {
      type: Number,
      required: true
    },
    rules: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    handlerChangeDiscount(val) {
      if (!val) val = 0
      this.discount.discount = val
    },
    handlerAddDiscount() {
      this.discounts.push({
        discount: 0,
        discountType: this.typesDiscounts.kopeck.value
      })
    },
    handlerDeleteDiscount() {
      this.discounts.splice(this.count, 1)
      this.$emit('delete', this.count)
    }
  },
  watch: {
    discounts() {
      if (!this.discounts.length) this.handlerAddDiscount()
    }
  }
}
</script>
<style lang="scss" scoped>
  .text ::v-deep fieldset{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .type ::v-deep fieldset{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
</style>
