<template>
  <v-bottom-sheet :value="!!userAction" persistent inset>
    <v-sheet class="text-center py-8">
      <p v-if="userAction" class="text-h6">{{ userAction.text }}</p>
      <v-btn
        class="mx-2"
        outlined
        color="teal"
        @click="handlerClickConfirm(true)"
      >да</v-btn>
      <v-btn
        class="mx-2"
        outlined
        color="error"
        @click="handlerClickConfirm(false)"
      >нет</v-btn>
    </v-sheet>
  </v-bottom-sheet>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'MapaBottomSheet',
  data: () => ({
  }),
  computed: {
    ...mapState('notificationsModule', ['userAction'])
  },
  methods: {
    ...mapActions('notificationsModule', ['resolveConfirmUserAction']),
    handlerClickConfirm(isConfirm) {
      this.resolveConfirmUserAction(isConfirm)
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
