<template>
  <v-input :rules="rules" :value="selectedItems.length">
    <v-row no-gutters>
      <v-col cols="3">
        <v-menu
          :close-on-content-click="false"
          origin="center center"
          transition="scale-transition"
        >
          <template v-slot:activator="{ on }">
            <mapa-btn-plus class="px-0" @click.native="on.click">
              <slot />
            </mapa-btn-plus>
          </template>
          <v-card class="pb-12" style="overflow-y: scroll;" max-height="60vh" min-width="250" min-height="300">
            <p class="subtitle-2 text-center mt-2" v-if="items.length === 0">нет данных </p>
            <v-treeview
              v-else
              color="teal"
              selected-color="teal"
              selectable
              hoverable
              open-on-click
              return-object
              :items="items"
              :value="selectedItems"
              @input="handlerChangeSelectedItems"
            >
              <template slot="label" slot-scope="chip">
<!--                кликабельна вся строка-->
                <p class="ma-0" @click="handlerClickRowLabel(chip)">{{ chip.item.name }}</p>
              </template>
            </v-treeview>
          </v-card>
        </v-menu>
      </v-col>
      <v-col cols="9">
        <v-chip-group column>
          <v-chip
            v-for="(item, i) in selectedItems"
            :key="item.id"
            class="ma-1"
            color="teal"
            text-color="grey darken-2"
            outlined
            close
            @click:close="handlerDeleteSelectedItems(i)"
          >{{item.name}}</v-chip>
        </v-chip-group>
      </v-col>
    </v-row>
  </v-input>
</template>

<script>
import MapaBtnPlus from './MapaBtnPlus'

export default {
  name: 'MapaSelectChips',
  data: () => ({
    selectedItems: []
  }),
  model: {
    prop: 'selected',
    event: 'update:selected'
  },
  components: {
    MapaBtnPlus
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    selected: {
      type: Array,
      default: () => []
    },
    rules: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    handlerChangeSelectedItems(items) {
      this.selectedItems = items
      this.$emit('update:selected', this.selectedItems)
    },
    handlerDeleteSelectedItems(i) {
      this.selectedItems.splice(i, 1)
      this.$emit('update:selected', this.selectedItems)
    },
    handlerClickRowLabel(chip) {
      if (chip.selected) {
        const index = this.selectedItems.findIndex(item => item.id === chip.item.id)
        if (index === -1) return
        this.selectedItems.splice(index, 1)
      } else {
        this.selectedItems.push(chip.item)
      }
      console.log(chip)
      console.log(this.selectedItems)
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
