<template>
  <!--Статус услуги после публикации-->
  <v-col cols="12" class="d-flex">
    <p class="subtitle-2 mb-0 mr-3">
      Статус <br/> оплаты
    </p>
    <v-btn-toggle
      v-model="isPayedStatus"
      class="btn-group"
      color="teal lighten-3"
      mandatory
    >
      <v-btn
        :value="true"
        class="toggles"
        height="42"
        width="208"
        outlined
        :ripple="{ class: `teal--text` }"
      >Не оплачено
      </v-btn>
      <v-btn
        :value="false"
        class="toggles"
        height="42"
        width="208"
        outlined
        :ripple="{ class: `teal--text` }"
      >Оплачено
      </v-btn>
    </v-btn-toggle>
  </v-col>
</template>

<script>
export default {
  data: () => ({})
}
</script>
<style lang="scss" scoped>
  .v-item--active.toggles {
    color: white !important;
    background-color: $color-green !important;
    border: 0px solid !important;
  }
  .btn-group {
    // box-sizing: border-box;
    border: 1px solid $color-green-hover;
  }
</style>
