<template>
  <v-btn @click="$emit('click', $event)" x-large text :ripple="{ class: `teal--text` }">
    <v-icon color="teal lighten-2" class="icon mr-3" size="30">add</v-icon>
    <span class="teal--text text--lighten text-left">
      <slot />
    </span>
  </v-btn>
</template>

<script>
export default {
  data: () => ({})
}
</script>
<style lang="scss" scoped>
.icon{
    border: 1px dashed $color-green-hover;
    border-radius: 4px;
}
</style>
