<template>
  <v-row>
    <v-col cols="12">
      <v-row justify="end" align="center" dense>
        <v-col cols="4" class="mr-auto mb-n6">
          <v-text-field
            @input="handlerInputSearch"
            clearable
            color="teal"
            dense
            outlined
            placeholder="Искать по ученику, родителю, группе"
            prepend-inner-icon="search"
            autocomplete="off"
          />
        </v-col>
        <v-col cols="" class="mx-1">
          <p class="subtitle-1 font-weight-medium mb-0">
            Всего: {{invoicesStatistics.allCount}} счетов
          </p>
          <p class="subtitle-1 font-weight-medium mb-0">
            на {{invoicesStatistics.allAmount}} руб.
          </p>
        </v-col>
        <v-col cols="" class="mx-1">
          <p class="subtitle-1 font-weight-medium mb-0">
            Оплачено: {{invoicesStatistics.payedCount}} счетов
          </p>
          <p class="subtitle-1 font-weight-medium mb-0">
            на {{invoicesStatistics.payedAmount}} руб.
          </p>
        </v-col>
        <v-col cols="" class="mx-1">
          <p class="red--text subtitle-1 font-weight-medium mb-0">
            Не оплачено: {{invoicesStatistics.notPayedCount}} счетов
          </p>
          <p class="red--text subtitle-1 font-weight-medium mb-0">
            на {{invoicesStatistics.notPayedAmount}} руб
          </p>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" class="pb-0 px-0">
      <v-sheet min-height="70vh">
        <v-data-table
          :loading="loading"
          :search="searchText"
          :custom-filter="searchCustom"
          loading-text="Загрузка счетов... Пожалуйста подождите"
          :headers="headers"
          :items="financesChildrens"
          item-key="id"
          class="elevation-3 table-services"
          @click:row="handlerClickInvoice"
        ><!--слот для ребенка-->
          <template v-slot:item.children="{ item }">
            <p  class="mb-0">{{item.fullName || ''}}</p>
            <p class="caption grey--text text--darken-3 mb-0">{{item.groupName || ''}}</p>
          </template>
          <!--слот для родителя-->
          <template v-slot:item.parent="{ item }">
            <p v-if="item.family.length" class="mb-0">{{item.family[0].fullName || ''}}</p>
            <p v-if="item.family.length" class="caption grey--text text--darken-3 mb-0">{{item.family[0].phone || ''}}</p>
          </template>
          <!--слот для услуги-->
          <template v-slot:item.service="{ item }">
            <!--            TODO проверить что бы были услиги-->
            <p class="mb-0" v-if="item.lastInvoice.items.length">{{
                item.lastInvoice.items.length > 1
                  ? `Составной счет (${item.lastInvoice.items.length})`
                  : (item.lastInvoice.items[0].order && item.lastInvoice.items[0].order.product) ? item.lastInvoice.items[0].order.product.service.name : 'нет услуги или продукта'

              }}</p>
          </template>
          <!--слот для последний счет-->
          <template v-slot:item.lastInvoice="{ value }">
<!--            проверяем по id последнего счета-->
            <div v-if="value.id">
              <p class="mb-0">{{formattedDate(value.createdAt)}} {{value.amount && `на ${value.amount}`}} {{value.currency}}</p>
              <!--            TODO починить бэк, приходят удаленные счета -->
              <!--            <p class="caption grey&#45;&#45;text text&#45;&#45;darken-3 mb-0">{{value.lastInvoice.hasPayed ? 'оплачен' : 'не оплачен'}}</p>-->
              <p class="caption grey--text text--darken-3 mb-0">{{value.hasPayed ? 'оплачен' : 'не оплачен'}}</p>
            </div>
            <div v-else>
              <p class="mb-0 body-1 grey--text">Нет счетов</p>
            </div>
          </template>
          <!--слот для не оплаченных-->
          <template v-slot:item.invoiceNotPayedCount="{ value }">
            <v-avatar v-if="value" color="red" size="23">
              <span class="white--text subtitle-1 font-weight-medium">{{ value }}</span>
            </v-avatar>
          </template>
        </v-data-table>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'
import { formattedDate } from '../../utility/date'

export default {
  name: 'InvoicesAllTable',
  data: () => ({
    loading: true,
    selected: [],
    headers: [
      // { text: 'НАЗВАНИЕ услуги', align: 'start', sortable: false, value: 'id' }
      { text: 'РЕБЕНОК', align: 'start', value: 'children' },
      { text: 'РОДИТЕЛЬ', align: 'start', value: 'parent' },
      { text: 'УСЛУГА', align: 'start', value: 'service' },
      { text: 'ПОСЛЕДНИЙ СЧЕТ', align: 'start', value: 'lastInvoice' },
      { text: 'НЕ ОПЛАЧЕННЫХ', align: 'center', value: 'invoiceNotPayedCount' }
    ]
  }),
  computed: {
    ...mapState('invoicesModule', ['financesChildrens', 'searchText']),
    ...mapGetters('invoicesModule', ['invoicesStatistics'])
  },
  created() {
    // если есть загруженные то не показываем loading
    if (this.financesChildrens.length > 0) this.loading = false
  },
  destroyed() {
    this.SET_SEARCH_TEXT('')
  },
  methods: {
    ...mapMutations('invoicesModule', ['SET_CURRENT_CHILDREN_ID', 'SET_SEARCH_TEXT']),
    handlerClickInvoice(invoice) {
      // this.SET_CURRENT_CHILDREN_ID(invoice.id)
      this.$router.push({ name: 'invoicesId', params: { childrenId: invoice.id } })
    },
    handlerInputSearch(text) {
      this.SET_SEARCH_TEXT(text)
    },
    formattedDate(d) {
      return formattedDate(d)
    },
    searchCustom(val, textSearch, item) {
      // поиск для кастомных слотов
      if (item.fullName.toLowerCase().indexOf(textSearch.toLowerCase()) !== -1) return true
      if (item.groupName.toLowerCase().indexOf(textSearch.toLowerCase()) !== -1) return true
      if (item.family.length && item?.family[0].fullName.toLowerCase().indexOf(textSearch.toLowerCase()) !== -1) return true
      if (item.family.length && item?.family[0].fullName.toLowerCase().indexOf(textSearch.toLowerCase()) !== -1) return true
      return false
    }
  },
  watch: {
    financesChildrens() {
      // при получение результата не показываем loading
      this.loading = false
    }
  }
}
</script>
<style lang="scss" >
  /*TODO разоброться со scoped*/
  /*scope убран, что бы переопределить падинги*/
  .table-services td, .table-services th {
    padding: 0 7px !important;
  }
</style>
