<template>
  <div>
    <v-row align="center">
      <v-col cols="auto">
        <v-btn
          @click="handlerClickBack"
          small
          class="grey--text text--darken-3 text-none px-2"
          color="teal lighten-4"
        >
          <v-icon small>chevron_left</v-icon>назад
        </v-btn>
      </v-col>
      <!--      счет   -->
      <v-col cols="auto" class="mr-auto">
        <span class="text-h6 font-weight-regular">Счет</span>
        <v-menu bottom offset-x :close-on-content-click="false">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="mt-n1" v-bind="attrs" v-on="on" icon color="teal lighten-3">
              <v-icon>edit</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-text-field
              class="mx-2 mt-2"
              v-model="selectInvoice.series"
              :rules="[rules.minLength, rules.maxLength]"
              maxlength="5"
              color="teal"
              dense
              outlined
              label="Префикс счета"
              autocomplete="off"
            />
          </v-card>
        </v-menu>
        <span class="text-h6">{{viewNumInvoice}}</span>
        <span class="text-h6 font-weight-regular">для {{selectInvoice.recipient.fullName}}</span>
      </v-col>
      <!--      статучс  -->
      <v-col cols="3">
        <span class="subtitle-2 font-weight-regular">
          Статус:
          <v-icon :color="typesStatus[selectInvoice.status].color" small>stop_circle</v-icon>
          {{typesStatus[selectInvoice.status].text}}
        </span>
        <br />
        <span
          v-if="selectInvoice.hasSentAt"
          class="subtitle-2 font-weight-regular"
        >Отправлен: {{ formattedDateAndTime(selectInvoice.hasSentAt ) }}</span>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <p class="caption font-weight-medium grey--text text--darken-3 mb-0">Дата создания</p>
        <p
          class="subtitle-2 font-weight-regular mb-0"
        >{{formattedDateAndTime(selectInvoice.createdAt)}}</p>
      </v-col>
      <v-col>
        <p class="caption font-weight-medium grey--text text--darken-3 mb-0">Родитель</p>
        <p
          class="subtitle-2 font-weight-regular mb-0"
          v-if="selectInvoice.recipient.family.length"
        >{{ selectInvoice.recipient.family[0].fullName }}</p>
      </v-col>
      <v-col>
        <p class="caption font-weight-medium grey--text text--darken-3 mb-0">Телефон</p>
        <p
          class="subtitle-2 font-weight-regular mb-0"
          v-if="selectInvoice.recipient.family.length"
        >{{ selectInvoice.recipient.family[0].phone }}</p>
      </v-col>
      <v-col>
        <p class="caption font-weight-medium grey--text text--darken-3 mb-0">e-mail</p>
        <p
          class="subtitle-2 font-weight-regular mb-0"
          v-if="selectInvoice.recipient.family.length"
        >{{ selectInvoice.recipient.family[0].email }}</p>
      </v-col>
      <v-col>
        <v-select
          outlined
          dense
          v-model="statusPayed"
          :items="Object.values(itemsStatusPayed)"
          color="teal lighten-3"
        />
      </v-col>
      <v-col cols="12"></v-col>
<!--      показать если есть частичная оплата-->
      <v-col cols="4" v-if="statusPayed === itemsStatusPayed.partial.value">
        <v-text-field
          outlined
          label="Сумма частичной оплаты"
          dense
          type="number"
          step="1"
          min="0"
          max="100000"
          autocomplete="off"
          v-model.number="selectInvoice.partialPayment"
          :rules="[rules.onlyPositive]"
          color="teal"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row dense align="start">
      <!-- Счет от-->
      <v-col cols="auto" class="pt-2">
        <span class="caption font-weight-medium grey--text text--darken-3">Счет от</span>
      </v-col>
      <v-col cols="3">
        <v-menu
          v-model="menuDateStart"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              outlined
              dense
              :value="formattedDate(startDate)"
              color="teal"
              prepend-inner-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-card>
            <v-date-picker
              :max="finishDate"
              header-color="teal lighten-3"
              first-day-of-week="1"
              locale="ru"
              v-model="startDate"
            >
              <v-btn text color="error" @click="startDate = ''; menuDateStart = false">Сбросить</v-btn>
              <v-spacer />
              <v-btn text color="teal" @click="menuDateStart = false">Выбрать</v-btn>
            </v-date-picker>
          </v-card>
        </v-menu>
      </v-col>
      <!-- Оплатить до-->
      <v-col cols="auto" class="pt-2">
        <span class="caption font-weight-medium grey--text text--darken-3">Оплатить до</span>
      </v-col>
      <v-col cols="3">
        <v-menu
          v-model="menuDateEnd"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              outlined
              dense
              :value="formattedDate(finishDate)"
              color="teal"
              prepend-inner-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            :min="startDate"
            header-color="teal lighten-3"
            first-day-of-week="1"
            locale="ru"
            v-model="finishDate"
          >
            <v-btn text color="error" @click="finishDate = ''; menuDateEnd = false">Сбросить</v-btn>
            <v-spacer />
            <v-btn text color="teal" @click="menuDateEnd = false">Выбрать</v-btn>
          </v-date-picker>
        </v-menu>
      </v-col>
    </v-row>

    <v-row align="stretch">
      <!--    заказы из выбранного счета   -->
      <invoices-change-item
        @deleteOrder="handlerClickDeleteOrder(idx)"
        v-for="(or, idx) in selectInvoice.items"
        :hideClose="idx === 0"
        :key="or.id"
        :order="or"
      />
      <!--    новые заказы    -->
      <invoices-change-item
        @deleteOrder="handlerClickDeleteNewOrder(or, idx)"
        v-for="(or, idx) in newItems"
        :key="or.id"
        :order="or"
      />
      <!--    корректировки   -->
      <invoices-change-item
        @deleteOrder="newCorrect.splice(idx, 1)"
        v-for="(or, idx) in newCorrect"
        :key="'correct' + idx"
        :order="or"
      />
    </v-row>

    <!--кнопки добавления корректировки и счета-->
    <v-row>
      <v-col>
        <span class="text-h6 font-weight-regular">Итого за {{selectInvoice.items.length + newItems.length}} заказа: </span>
        <span class="text-h6">
          {{sumAllFinalCost(selectInvoice.items) + sumAllFinalCost(newItems)}} {{selectInvoice.currency}}
        </span>
      </v-col>
      <v-col>
        <v-btn
          :disabled="!invoicesExceptCurrentAndSelected.length"
          @click="handlerClickAddOrder"
          text
          :class="{'text--darken-3': invoicesExceptCurrentAndSelected.length, 'text--lighten-1': !invoicesExceptCurrentAndSelected.length}"
          class="grey--text text-none px-2"
        >
          <v-icon color="red">add</v-icon>Добавить еще один счет в текущий
        </v-btn>
      </v-col>
      <!--       TODO корректировки временно решили не добовлять-->
      <!--      <v-col>-->
      <!--        <v-btn-->
      <!--          @click="handlerClickAddCorrected"-->
      <!--          text-->
      <!--          class="grey&#45;&#45;text text&#45;&#45;darken-3 text-none px-2"-->
      <!--        >-->
      <!--          <v-icon color="red">gesture</v-icon>-->
      <!--          Добавить корректировку-->
      <!--        </v-btn>-->
      <!--      </v-col>-->

      <!--    Добавить корректировку-->
      <v-col cols="12" class="pt-0">
        <v-row v-if="isShowCorrect" align="baseline" dense>
          <v-col cols="3">
            <v-text-field
              v-model.number="correctForAdded.price"
              :rules="[rules.onlyPositive, rules.required]"
              outlined
              dense
              label="Коректировка"
              autocomplete="off"
              type="number"
              step="1"
              min="0"
              max="100000"
              color="teal"
            />
          </v-col>
          <v-col cols="4">
            <v-text-field
              class
              v-model="correctForAdded.description"
              color="teal"
              dense
              outlined
              label="Комментарий"
              autocomplete="off"
            />
          </v-col>
          <v-col class="ml-auto" cols="auto">
            <v-btn
              @click="handlerClickAddCorrectedInInvoice"
              class="white--text mx-2"
              height="45"
              color="teal lighten-3"
            >Добавить в счет</v-btn>
          </v-col>
          <v-col cols="auto">
            <v-btn
              class="white--text"
              color="red lighten-1"
              height="45"
              @click="handlerClickDeleteCorrectedInInvoice"
            >
              <v-icon size="30">close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>

      <!--    Добавить еще один счет-->
      <v-col cols="12">
        <v-row v-if="isShowInvoice" align="start" dense>
          <v-col cols="5">
            <v-select
              label="Счет"
              v-model="invoiceForAdded"
              outlined
              dense
              return-object
              :items="invoicesExceptCurrentAndSelected"
              color="teal lighten-3"
            >
              <template v-slot:item="{ item }">
                <span>{{item.num + " " + preparationNameInvoice(item)}}</span>
              </template>
              <template v-slot:selection="{ item }">
                <span>{{item.num + " " + preparationNameInvoice(item)}}</span>
              </template>
            </v-select>
          </v-col>
          <v-col class="ml-auto" md="auto">
            <span v-if="invoiceForAdded" class="subtitle-ticket">Количество заказов: {{invoiceForAdded.items.length}}</span>
            <br />
            <span
              v-if="invoiceForAdded"
              class="subtitle-ticket"
            >Стоимость: {{invoiceForAdded.amount}}Р</span>
          </v-col>
          <v-col class="ml-auto" md="auto">
            <v-btn
              @click="handlerClickAddInvoiceInInvoice()"
              class="white--text mx-2"
              height="45"
              color="teal lighten-3"
            >Добавить в счет</v-btn>
          </v-col>
          <v-col cols="auto">
            <v-btn
              class="white--text"
              color="red lighten-1"
              height="45"
              @click="handlerClickDeleteInvoiceInInvoice"
            >
              <v-icon size="30">close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-form></v-form>
      <!--Кнопки действия-->
      <v-row>
        <v-col cols="12">
          <v-btn
            @click="handlerClickSave"
            :loading="loading"
            :disabled="loading"
            class="white--text mx-2"
            height="44"
            color="teal lighten-3"
          >Сохранить</v-btn>
          <v-btn
            @click="handlerClickSandParent"
            :loading="loadingSend"
            :disabled="loadingSend"
            class="white--text mx-2"
            height="45"
            color="teal lighten-3"
          >{{selectInvoice.hasSentAt ? 'Отправить повторно' : 'Отправить родителю'}}</v-btn>
        </v-col>
      </v-row>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
import { creatorMinLength, creatorMaxLength, onlyPositive } from '../../utility/validRules'
import { formattedDate, formattedDateAndTime, maxFromDates, minFromDates } from '../../utility/date'
import InvoicesChangeItem from './InvoiceChange/InvoicesChangeItem'
import { TYPES_PAYED_STATUS, TYPES_STATUS } from '../../models/Invoice'

export default {
  name: 'InvoiceChange',
  data() {
    return {
      startDate: '',
      finishDate: '',
      menuDateStart: false,
      menuDateEnd: false,

      isShowCorrect: false,
      isShowInvoice: false,
      invoiceForAdded: null,
      idsAddedInvoices: [],
      correctForAdded: null,
      idsOrdersForDeleted: [],
      newItems: [],
      newCorrect: [],

      // поля для выбора статуса оплаты
      statusPayed: null,
      itemsStatusPayed: TYPES_PAYED_STATUS,
      valid: false,
      loading: false,
      loadingSend: false,
      rules: {
        onlyPositive,
        minLength: creatorMinLength(1),
        maxLength: creatorMaxLength(5)
      },
      typesStatus: TYPES_STATUS
    }
  },
  computed: {
    ...mapState('modalsModule', [
      'isShowChangeOrder',
      'currentModeModalChangeOrder',
      'modesModal'
    ]),
    ...mapGetters('invoicesModule', ['invoicesExceptCurrent']),
    ...mapState('invoicesModule', ['selectInvoice']),
    // фильтр для ново добавленных счетов
    invoicesExceptCurrentAndSelected() {
      return this.invoicesExceptCurrent.filter(inv => {
        return inv.status === this.typesStatus.Draft.value && !this.idsAddedInvoices.find(id => id === inv.id)
      })
    },
    viewNumInvoice() {
      // return {{ selectInvoice.num }} {{selectInvoice.series}}
      if (this.selectInvoice.series) {
        return this.selectInvoice.series + this.selectInvoice.num.substr(-10, 10)
      } else {
        return this.selectInvoice.num
      }
    }

  },
  components: {
    InvoicesChangeItem
  },
  created() {
    // парсим статус оплаты и устанавливаем нужный
    if (!this.selectInvoice.hasPayed && this.selectInvoice.isHasPartialPayment) {
      this.statusPayed = this.itemsStatusPayed.partial.value
    } else if (!this.selectInvoice.hasPayed) {
      this.statusPayed = this.itemsStatusPayed.notPayed.value
    } else if (this.selectInvoice.hasPayed) {
      this.statusPayed = this.itemsStatusPayed.payed.value
    }
    // если есть значения дат то ставим их, если нет то вычесляем из заказов
    if (this.selectInvoice.dateFrom) {
      this.startDate = this.selectInvoice.dateFrom
    } else {
      const datesCreated = this.selectInvoice.items.map(i => i.order && i.order.createdAt)
      const minDate = minFromDates(datesCreated)
      // счет от
      this.startDate = minDate.toISOString().split('T')[0]
    }
    if (this.selectInvoice.payDate) {
      this.finishDate = this.selectInvoice.payDate
    } else {
      const datesPay = this.selectInvoice.items.map(i => i.order && i.order.payDate)
      const maxDate = maxFromDates(datesPay)
      // оплатить до
      this.finishDate = maxDate ? maxDate.toISOString().split('T')[0] : ''
    }
  },
  methods: {
    ...mapMutations('invoicesModule', ['SET_SELECT_INVOICE', 'SET_INVOICE_ITEM']),
    ...mapActions('invoicesModule', ['updateItems', 'updateInvoices', 'deleteInvoice', 'saveItem', 'getFinancesChildrens', 'paidInvoices', 'deleteItem', 'sendInvoice', 'getInvoicesForChildren']),
    ...mapActions('notificationsModule', ['showNotification']),
    async handlerClickSandParent() {
      this.loadingSend = true
      try {
        this.sendInvoice(this.selectInvoice.id)
        // TODO надо обновить время отправки у счета
      } finally {
        this.loadingSend = false
      }
    },
    async handlerClickSave() {
      this.loading = true
      try {
        // нельзя удалять с оплаченных
        if (this.selectInvoice.status === this.typesStatus.Paid.value && this.idsOrdersForDeleted.length) {
          this.showNotification({ text: 'Нельзя удалять в оплаченных счетах', type: 'error' })
          return
        }
        // меняем состояние на оплачено если нужно
        if (this.statusPayed === this.itemsStatusPayed.payed.value) {
          this.selectInvoice.partialPayment = 0
          this.selectInvoice.hasPayed = true
        } else if (this.statusPayed === this.itemsStatusPayed.notPayed.value) {
          this.selectInvoice.partialPayment = 0
          this.selectInvoice.hasPayed = false
        } else if (this.statusPayed === this.itemsStatusPayed.partial.value) {
          this.selectInvoice.hasPayed = false
        }
        if (this.selectInvoice.hasPayed && this.selectInvoice.status !== this.typesStatus.Paid.value) {
          await this.paidInvoices(this.selectInvoice.id)
        }
        // сохраняем изменения в счете
        // TODO проверка на изменения
        await this.updateInvoices({
          id: this.selectInvoice.id,
          hasPayed: this.selectInvoice.hasPayed,
          partialPayment: this.selectInvoice.partialPayment,
          // hasPayed: this.selectInvoice.hasPayed,
          series: this.selectInvoice.series,
          dateFrom: this.startDate,
          payDate: this.finishDate
        })
        // сохраняем новые заказы
        await Promise.all(this.newItems.map(async item => {
          const newIdInvoiceId = this.selectInvoice.id
          const newItemSave = {
            id: item.id,
            invoice: newIdInvoiceId
          }
          await this.updateItems(newItemSave)
        }))
        // удаляем заказы которые были удалены в текущем
        await Promise.all(this.idsOrdersForDeleted.map(id => this.deleteItem(id)))
        this.idsOrdersForDeleted = []
        // удаляем счета которые были добавленны в текущий
        await Promise.all(this.idsAddedInvoices.map(id => this.deleteInvoice(id)))
        // сохраняем корректировки
        await Promise.all(this.newCorrect.map(cor => this.saveItem(cor)))
        this.showNotification({ text: 'Изменения в счете сохранены' })
        // обновляем главный список финансов
        // TODO убрать доп запрос
        await this.getFinancesChildrens()
        // TODO убрать доп запрос для выбранного ребенка
        await this.getInvoicesForChildren()
      } finally {
        this.loading = false
      }
    },
    handlerClickAddInvoiceInInvoice() {
      // this.newItems.push(...this.invoiceForAdded.items)
      // добавляем только уникальные, для кейсов когда мы повторно добавляем составной счет
      this.invoiceForAdded.items.forEach(i => {
        if (!this.newItems.find(newI => newI.id === i.id)) {
          // добавляем id счета что бы при удалении item можно было и удалить счет из фильтра
          i.invoice = this.invoiceForAdded.id
          this.newItems.push(i)
        }
      })
      // cохраним id для фильтрации
      this.idsAddedInvoices.push(this.invoiceForAdded.id)
      this.handlerClickDeleteInvoiceInInvoice()
    },
    handlerClickDeleteInvoiceInInvoice() {
      this.invoiceForAdded = null
      this.isShowInvoice = false
    },
    handlerClickAddCorrectedInInvoice() {
      this.newCorrect.push(this.correctForAdded)
      this.handlerClickDeleteCorrectedInInvoice()
    },
    handlerClickDeleteCorrectedInInvoice() {
      this.correctForAdded = null
      this.isShowCorrect = false
    },
    handlerClickAddOrder() {
      this.isShowInvoice = true
    },
    handlerClickDeleteOrder(idx) {
      const [item] = this.selectInvoice.items.splice(idx, 1)
      this.idsOrdersForDeleted.push(item.id)
    },
    handlerClickDeleteNewOrder(or, idx) {
      this.newItems.splice(idx, 1)
      // удаляем счет для возможности повторкого его выбора
      const index = this.idsAddedInvoices.findIndex(id => id === or.invoice)
      if (index !== -1) this.idsAddedInvoices.splice(index, 1)
    },
    handlerClickAddCorrected() {
      this.correctForAdded = {
        count: 1,
        currency: 'RUB',
        price: '',
        description: '',
        invoice: this.selectInvoice.id
      }
      this.isShowCorrect = true
    },
    preparationNameInvoice(item) {
      if (item.items.length > 1) return `Составной счет (${item.items.length})`
      else if (item.items.length === 0) return 'нет услуг'
      else if (item.items.length === 1) return item.items[0].order && item.items[0].order.product ? item.items[0].order.product.service.name : 'нет тарифа или заказа'
    },
    formattedDate(d) {
      return formattedDate(d)
    },
    formattedDateAndTime(d) {
      return formattedDateAndTime(d)
    },
    resetForm() {
      this.discountForDelete = []
      this.selectedService = null
      this.selectedTariff = null
      this.order = null
      this.loading = false
      // сбрасывает сильно вложенные объекты
      // this.$refs.form.reset()
    },
    handlerClickBack() {
      // сбросить выбранный счет
      this.SET_SELECT_INVOICE(null)
    },
    sumAllFinalCost(items) {
      return items.reduce((acc, item) => {
        const res = acc + item.finalCost
        return res
      }, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.subtitle-ticket {
  font-family: $fira-mono-font;
  font-size: 14px;
  line-height: 22px;
}
</style>
