<template>
  <section>
    <v-row align="center" class="ma-3">
      <v-col cols="6" lg="4" class="mr-auto mb-n6">
        <v-text-field
          color="teal"
          dense
          outlined
          placeholder="Искать по услуге, ученику,  учителю"
          prepend-inner-icon="search"
          autocomplete="off"
        />
      </v-col>
      <v-col cols="4" class="d-flex align-center justify-end" >
        <v-img max-width="80" src="/img/Print_icon.svg" />
        <v-btn
          class="white--text mx-2"
          @click="handlerClickCreatedOrder"
          height="40"
          color="teal lighten-3"
        >Добавить заказ</v-btn>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'InvoicesControllersHeader',
  data: () => ({
  }),
  computed: {
    ...mapState('modalsModule', [
      'modesModal'
    ])
  },
  methods: {
    ...mapMutations('modalsModule', [
      'TOGGLE_MODE_CHANGE_ORDER',
      'TOGGLE_SHOW_CHANGE_ORDER'
    ]),
    handlerClickCreatedOrder() {
      this.TOGGLE_MODE_CHANGE_ORDER(this.modesModal.ADD)
      this.TOGGLE_SHOW_CHANGE_ORDER(true)
    }
  }
}
</script>
<style lang="scss" scoped>
.v-item--active {
  color: white !important;
  background-color: $color-green !important;
  border: 0px solid !important;
}
.btn-group {
  border: 1px solid $color-green-hover;
}
</style>
