<template>
  <v-row>
    <v-col cols="12">
      <v-row align="center" justify="end" dense>
        <v-col cols="auto" class="mr-lg-8">
          <v-btn
            :to="{name: 'invoices'}"
            exact
            small
            class="grey--text text--darken-3 text-none px-2"
            color="teal lighten-4"
          >
            <v-icon small >chevron_left</v-icon>
            назад
          </v-btn>
        </v-col>
        <v-col >
<!--          TODO отдельный запрос для ребенка а сейчас берем у первого счета-->
            <v-row v-if="invoices.length" align="center" no-gutters>
              <!--ученик-->
              <v-col cols="auto" class="mr-2">
                <v-avatar>
                  <v-img :src="invoices[0].recipient.icon" alt="avatar"></v-img>
                </v-avatar>
              </v-col>
              <v-col >
                <span style="line-height: 22px; font-size: 18px !important" class="subtitle-1"> {{invoices[0].recipient.fullName}}</span>
              </v-col>
            </v-row>
        </v-col>
        <v-col >
          <p class="subtitle-1 font-weight-medium mb-0">
            Всего: {{invoicesChildrenStatistics.allCount}} счетов
          </p>
          <p class="subtitle-1 font-weight-medium mb-0">
            на {{invoicesChildrenStatistics.allAmount}} руб.
          </p>
        </v-col>
        <v-col >
          <p class="subtitle-1 font-weight-medium mb-0">
            Оплачено: {{invoicesChildrenStatistics.payedCount}} счетов
          </p>
          <p class="subtitle-1 font-weight-medium mb-0">
            на {{invoicesChildrenStatistics.payedAmount}} руб.
          </p>
        </v-col>
        <v-col >
          <p class="red--text subtitle-1 font-weight-medium mb-0">
            Не оплачено: {{invoicesChildrenStatistics.notPayedCount}} счетов
          </p>
          <p class="red--text subtitle-1 font-weight-medium mb-0">
            на {{invoicesChildrenStatistics.notPayedAmount}} руб
          </p>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" class="pb-0 px-0">
      <v-sheet min-height="70vh">
        <v-data-table
          :loading="loading"
          loading-text="Загрузка счетов... Пожалуйста подождите"
          :headers="headers"
          :items="invoices"
          item-key="id"
          class="elevation-3 table-services"
          @click:row="handlerClickInvoice"
        >
        <!--слот для СОЗДАН-->
          <template v-slot:item.createdAt="{ value }">
            <span class="mb-0">{{ formattedDate(value) }}</span>
          </template>
        <!--слот для УСЛУГА-->
          <template v-slot:item.service="{ item }">
<!--            TODO проверить что бы были услиги-->
            <span v-if="item.items.length">{{
                item.items.length > 1
                ? `Составной счет (${item.items.length})`
                : item.items[0].order ? item.items[0].order.product.service.name : 'нет услуги'
            }}</span>
          </template>
          <!--слот для ЗАКАЗЫ-->
          <template v-slot:item.orders="{ item }">
            <p class="mb-0" v-if="item.items.length">{{
                item.items.length > 1
                  ? `Составной счет (${item.items.length})`
                  : (item.items[0].order && item.items[0].order.product) ? item.items[0].order.product.name : 'нет продукта'

              }}</p>
          </template>
          <!--слот для ОБЩАЯ СУММА-->
          <template v-slot:item.amount="{ value }">
            <p class="mb-0">{{ value }} руб.</p>
          </template>
          <!--слот для СТАТУСТЫ-->
          <template v-slot:item.status="item">
<!--            // общий статус-->
            <p class="mb-0">
              <v-icon :color="typesStatus[item.value].color" small class="mr-2">stop_circle</v-icon>
              {{typesStatus[item.value].text}}
            </p>
            <p v-if="item.value === typesStatus.Sent.value" class="mb-0">{{formattedDate(item.item.hasSentAt)}}</p>
            <p v-if="!item.item.hasPayed && item.item.isHasPartialPayment" class="mb-0">
              {{typesPayedStatus.partial.text}} : {{item.item.partialPayment}}
            </p>
<!--            TODO сложная система статусов, оставлю для наглядности-->
<!--            <div v-if="item.value === typesStatus.Paid.value && item.item.hasSentAt">-->
<!--               <p class="mb-0">-->
<!--                  <v-icon :color="typesStatus[item.value].color" small class="mr-2">stop_circle</v-icon>-->
<!--                  {{typesStatus[item.value].text}}-->
<!--                </p>-->
<!--                <p class="mb-0">-->
<!--                  <v-icon :color="typesStatus.Sent.color" small class="mr-2">stop_circle</v-icon>-->
<!--                  {{typesStatus.Sent.text}}-->
<!--                </p>-->
<!--                <p class="mb-0">{{formattedDate(item.item.hasSentAt)}}</p>-->
<!--            </div>-->
<!--            <div v-else-if="item.value === typesStatus.Sent.value && item.item.hasPayedAt">-->
<!--               <p class="mb-0">-->
<!--                  <v-icon :color="typesStatus.Paid.color" small class="mr-2">stop_circle</v-icon>-->
<!--                  {{typesStatus.Paid.text}}-->
<!--                </p>-->
<!--                <p class="mb-0">-->
<!--                  <v-icon :color="typesStatus.Sent.color" small class="mr-2">stop_circle</v-icon>-->
<!--                  {{typesStatus.Sent.text}}-->
<!--                </p>-->
<!--                <p class="mb-0">{{formattedDate(item.item.hasSentAt)}}</p>-->
<!--            </div>-->
<!--             <div v-else>-->
<!--               <p class="mb-0">-->
<!--                  <v-icon :color="typesStatus[item.value].color" small class="mr-2">stop_circle</v-icon>-->
<!--                  {{typesStatus[item.value].text}}-->
<!--                </p>-->
<!--                <p v-if="item.value === typesStatus.Sent.value" class="mb-0">{{formattedDate(item.item.hasSentAt)}}</p>-->
<!--            </div>-->
          </template>
          <!--слот для ОБЩАЯ pdf-->
          <template v-slot:item.pdfLink="{ value }">
            <v-btn
              :href="value"
              target="_blank"
              small
              class="white--text px-2"
              color="teal lighten-3"
            >
              <v-icon >visibility</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters } from 'vuex'
import { formattedDate } from '../../utility/date'
import { TYPES_PAYED_STATUS, TYPES_STATUS } from '../../models/Invoice'

export default {
  name: 'InvoicesForChildrenTable',
  data: () => ({
    loading: true,
    selected: [],
    headers: [
      // { text: 'НАЗВАНИЕ услуги', align: 'start', sortable: false, value: 'id' }
      { text: 'НОМЕР СЧЕТА', align: 'start', value: 'num' },
      { text: 'СОЗДАН', align: 'start', value: 'createdAt' },
      { text: 'УСЛУГА', align: 'start', value: 'service' },
      { text: 'ЗАКАЗЫ', align: 'start', value: 'orders' },
      { text: 'ОБЩАЯ СУММА', align: 'start', value: 'amount' },
      { text: 'СТАТУСТЫ', align: 'center', value: 'status' },
      { text: '', align: 'center', value: 'pdfLink' }
    ],
    typesStatus: TYPES_STATUS,
    typesPayedStatus: TYPES_PAYED_STATUS
  }),
  computed: {
    ...mapState('invoicesModule', ['invoices']),
    ...mapGetters('invoicesModule', ['invoicesChildrenStatistics']),
    childrenId() {
      return this.$route.params.childrenId || null
    }
  },
  async created() {
    // если есть загруженные то не показываем loading
    if (this.invoices.length > 0) this.loading = false
    if (this.childrenId) this.SET_CURRENT_CHILDREN_ID(this.childrenId)
    this.getInvoicesForChildren()
  },
  methods: {
    ...mapMutations('invoicesModule', [
      'SET_CURRENT_CHILDREN_ID',
      'SET_SELECT_INVOICE'
    ]),
    ...mapActions('invoicesModule', [
      'getInvoicesForChildren'
    ]),
    handlerClickInvoice(invoice) {
      this.SET_SELECT_INVOICE(invoice)
    },
    formattedDate(d) {
      return formattedDate(d)
    }
  },
  watch: {
    childrenId() {
      if (this.childrenId) this.SET_CURRENT_CHILDREN_ID(this.childrenId)
      this.getInvoicesForChildren()
    },
    invoices() {
      // при получение результата не показываем loading
      this.loading = false
    }
  }
}
</script>
<style lang="scss" >
  /*TODO разоброться со scoped*/
  /*scope убран, что бы переопределить падинги*/
  .table-services td, .table-services th {
    padding: 0 7px !important;
  }
</style>
