<template>
  <!--конфигурация тарифа-->
  <v-row dense>
    <!--Наименование-->
    <v-col cols="6" md="7">
      <v-text-field
        v-model="tariff.name"
        :rules="[rules.required]"
        color="teal"
        dense
        outlined
        label="Наименование"
        autocomplete="off"
      />
    </v-col>
    <!--Цена-->
    <v-col cols="3" >
      <v-text-field
        class
        v-model.number="tariff.price"
        :rules="[rules.onlyPositive, rules.required]"
        type="number"
        step="1"
        min="0"
        max="100000"
        color="teal"
        dense
        outlined
        label="Цена"
        autocomplete="off"
      />
    </v-col>
    <!--Мини делитель-->
    <v-col cols="12" class="mt-n1 pb-6">
      <div class="dashed-bottom" />
    </v-col>
    <!--Компенсация фиксированная-->
    <v-col cols="3">
      <v-text-field
        class
        v-model.number="tariff.compenFromState"
        :rules="[rules.onlyPositive]"
        :suffix="placeSuffix"
        type="number"
        step="1"
        min="0"
        max="1000000"
        color="teal"
        dense
        outlined
        label="Компенсация фиксированная"
        autocomplete="off"
      />
    </v-col>
    <!-- Компенсация по болезни -->
    <v-col cols="3">
      <v-text-field
        class
        v-model.number="tariff.compenDiseaseAmount"
        :rules="[rules.onlyPositive]"
        :suffix="placeSuffix"
        type="number"
        step="1"
        min="0"
        max="1000000"
        color="teal"
        dense
        outlined
        label="Компенсация по болезни"
        autocomplete="off"
      />
    </v-col>
    <!-- Макс. количество компенсаций-->
    <v-col cols="3">
      <v-text-field
        class
        v-model.number="tariff.numberOfTransfers"
        :rules="[rules.onlyPositive]"
        type="number"
        step="1"
        min="0"
        max="100"
        color="teal"
        dense
        outlined
        label="Макс.кол-во компен. по болезни"
        autocomplete="off"
      />
    </v-col>
    <!--Компенсация по ув. Причине-->
    <v-col cols="3">
      <v-text-field
        class
        v-model.number="tariff.compenApprovedAmount"
        :rules="[rules.onlyPositive]"
        :suffix="placeSuffix"
        type="number"
        step="1"
        min="0"
        max="1000000"
        color="teal"
        dense
        outlined
        label="Компенсация по ув. Причине"
        autocomplete="off"
      />
    </v-col>
    <!--Мини делитель-->
    <v-col cols="12" class="mt-n1 pb-6">
      <div class="dashed-bottom" />
    </v-col>
    <!--Период выставления счёта-->
    <v-col md="4">
      <v-select
        label="Период выставления счёта"
        v-model="tariff.period"
        :items="Object.values(typesPeriod)"
        outlined
        dense
        color="teal lighten-3"
      />
    </v-col>
    <!--Мини делитель-->
    <v-col cols="12" class="mt-n1 pb-6">
      <div class="dashed-bottom" />
    </v-col>
    <!-- Число месяца-->
    <v-col cols="4" md="3">
      <v-text-field
        class
        v-model.number="tariff.payDay"
        :rules="[rules.onlyInt, rules.onlyPositive]"
        type="number"
        step="1"
        min="1"
        max="31"
        color="teal"
        dense
        outlined
        label="Число месяца"
        autocomplete="off"
      />
    </v-col>
    <!-- Оплатить в течение-->
    <v-col cols="4" md="3">
      <v-text-field
        class
        v-model.number="tariff.payWithin"
        :rules="[rules.onlyInt, rules.onlyPositive]"
        type="number"
        step="1"
        min="0"
        max="10000"
        color="teal"
        dense
        outlined
        label="Оплатить в течение"
        autocomplete="off"
      />
    </v-col>
    <!--Удалить тариф-->
    <v-col cols="3" class="ml-auto d-flex justify-end align-start">
      <v-btn @click="handlerClickDeleteTariff" class="px-3" outlined color="red">Удалить тариф</v-btn>
    </v-col>
    <!--Делитель-->
    <v-col cols="12" class="mt-n3">
      <v-divider class="teal lighten-3"></v-divider>
    </v-col>
  </v-row>
</template>

<script>
import {
  required,
  onlyInt,
  onlyPositive,
  requiredSelect
} from '../../../utility/validRules'
import { formattedDate } from '../../../utility/date'
import { TYPES_PERIOD } from '../../../models/Product'

export default {
  name: 'formSpecialByPlan',
  data() {
    return {
      typesPeriod: TYPES_PERIOD,
      rules: {
        required,
        onlyInt,
        onlyPositive,
        requiredSelect
      },
      placeSuffix: 'руб'
    }
  },
  props: {
    tariff: {
      type: Object,
      required: true
    }
  },
  methods: {
    handlerClickDeleteTariff() {
      this.$emit('deleteTariff')
    },
    formattedDate(d) {
      return formattedDate(d)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashed-bottom {
  border-bottom: 2px dashed $color-green-light;
}
</style>
