<template>
  <!--конфигурация тарифа-->
  <v-row dense>
    <!--Наименование-->
    <v-col cols="6" md="7">
      <v-text-field
        v-model="tariff.name"
        :rules="[rules.required]"
        color="teal"
        dense
        outlined
        label="Наименование"
        autocomplete="off"
      />
    </v-col>
    <!--Цена-->
    <v-col cols="3" >
      <v-text-field
        class
        v-model.number="tariff.price"
        :rules="[rules.onlyPositive, rules.required]"
        type="number"
        step="1"
        min="0"
        max="100000"
        color="teal"
        dense
        outlined
        label="Цена"
        autocomplete="off"
      />
    </v-col>
    <!--Количество единиц услуги-->
    <v-col cols="3" md="2">
      <v-text-field
        class
        v-model.number="tariff.quantity"
        :rules="[rules.onlyInt, rules.onlyPositive, rules.required]"
        type="number"
        min="1"
        max="100"
        color="teal"
        dense
        outlined
        label="Количество единиц услуги"
        autocomplete="off"
      />
    </v-col>
    <!--Мини делитель-->
    <v-col cols="12" class="mt-n1 pb-6">
      <div class="dashed-bottom" />
    </v-col>
    <v-col cols="4" class="pb-0">
      <!-- Дата начала -->
      <v-menu
        v-model="menuDateStart"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            outlined
            dense
            :value="formattedDate(tariff.startDate)"
            color="teal"
            label="Дата начала"
            prepend-inner-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-card>
          <v-date-picker
            :max="tariff.finishDate"
            header-color="teal lighten-3"
            first-day-of-week="1"
            locale="ru"
            v-model="tariff.startDate"
          >
            <v-btn text color="error" @click="tariff.startDate = ''; menuDateStart = false">Сбросить</v-btn>
            <v-spacer />
            <v-btn text color="teal" @click="menuDateStart = false">Выбрать</v-btn>
          </v-date-picker>
        </v-card>
      </v-menu>
    </v-col>
    <!-- Дата окончания -->
    <v-col cols="4">
      <v-menu
        v-model="menuDateEnd"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            outlined
            dense
            :value="formattedDate(tariff.finishDate)"
            color="teal"
            label="Дата окончания"
            prepend-inner-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          :min="tariff.startDate"
          header-color="teal lighten-3"
          first-day-of-week="1"
          locale="ru"
          v-model="tariff.finishDate"
        >
          <v-btn text color="error" @click="tariff.finishDate = ''; menuDateEnd = false">Сбросить</v-btn>
          <v-spacer />
          <v-btn text color="teal" @click="menuDateEnd = false">Выбрать</v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
    <!--Количество дней-->
    <v-col md="4">
      <v-text-field
        class
        v-model.number="tariff.expireDays"
        :rules="[rules.onlyInt, rules.onlyPositive]"
        type="number"
        step="1"
        min="0"
        max="365"
        color="teal"
        dense
        outlined
        label="Количество дней"
        autocomplete="off"
      />
    </v-col>
    <!--Мини делитель-->
    <v-col cols="12" class="mt-n1 pb-6">
      <div class="dashed-bottom" />
    </v-col>
    <!-- Оплатить в течение-->
    <v-col cols="4" md="3">
      <v-text-field
        class
        v-model.number="tariff.payWithin"
        :rules="[rules.onlyInt, rules.onlyPositive]"
        type="number"
        step="1"
        min="0"
        max="10000"
        color="teal"
        dense
        outlined
        label="Оплатить в течение"
        autocomplete="off"
      />
    </v-col>
    <!--Удалить тариф-->
    <v-col cols="3" class="ml-auto d-flex justify-end align-start">
      <v-btn @click="handlerClickDeleteTariff" class="px-3" outlined color="red">Удалить тариф</v-btn>
    </v-col>
    <!--Делитель-->
    <v-col cols="12" class="mt-n3">
      <v-divider class="teal lighten-3"></v-divider>
    </v-col>
  </v-row>
</template>

<script>
import {
  required,
  onlyInt,
  onlyPositive,
  requiredSelect
} from '../../../utility/validRules'
import { formattedDate } from '../../../utility/date'

export default {
  name: 'formProductsAndServices',
  data() {
    return {
      menuDateStart: false,
      menuDateEnd: false,
      rules: {
        required,
        onlyInt,
        onlyPositive,
        requiredSelect
      },
      placeSuffix: 'руб'
    }
  },
  props: {
    tariff: {
      type: Object,
      required: true
    }
  },
  methods: {
    handlerClickDeleteTariff() {
      this.$emit('deleteTariff')
    },
    formattedDate(d) {
      return formattedDate(d)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashed-bottom {
  border-bottom: 2px dashed $color-green-light;
}
</style>
