<template>
    <v-app class="app">
      <v-progress-circular
        v-if="loading"
        class="ma-auto"
        size="280"
        color="teal lighten-3"
        width="12"
        indeterminate
      ></v-progress-circular>

      <v-main v-else class="content">
        <v-container  class="container">
          <v-card>
            <mapa-navigation />
              <transition appear mode="out-in" name="opacity-fade">
                <router-view />
              </transition>
          </v-card>
        </v-container>
      </v-main>

      <mapa-notifications />
      <mapa-bottom-sheet />
    </v-app>
</template>

<script>
import MapaNavigation from './components/MapaNavigation'
import MapaHeader from './components/MapaHeader'
import MapaNotifications from './components/MapaNotifications'
import { mapActions, mapState } from 'vuex'
import MapaBottomSheet from './components/MapaBottomSheet'

export default {
  name: 'App',
  data() {
    return {
      loading: true
    }
  },
  components: {
    MapaNavigation,
    MapaNotifications,
    MapaBottomSheet,
    MapaHeader
  },
  computed: {
    ...mapState('authorisationModule', ['currentUsedCompany'])
  },
  async created() {
    const token = await this.getToken()
    // если токена нет, то редиректим на страницу логина.
    if (!token) location.href = process.env.VUE_APP_API_BASE_URL + '/ru/account/'
    await this.getAccount()
    this.loading = false
    // загрузить услуги
    this.getServices(this.currentUsedCompany)
  },
  methods: {
    ...mapActions('servicesModule', ['getServices']),
    ...mapActions('authorisationModule', ['getToken', 'getAccount'])
  }
}
</script>
<style lang="scss" scoped>
  @import 'assets/scss/slideFadeAnimation.scss';

  .app {
    background-color: #D8E6E7!important;
  }
  /* .container{
    min-width: 1500px !important;
    max-width: 1500px !important;
  } */

</style>
