// $select-active-icon-flip: false !default;
// $calendar-daily-day-font-size: 70px !default;
// ПН ВТ
$calendar-daily-weekday-font-size: 20px !default;
$fira-mono-font: 'Fira Mono', monospace !important;
