<template>
  <!--конфигурация тарифа-->
  <!--orders formByPlan-->
  <v-row align="center" dense>
    <!--    <v-responsive width="100%" />-->
    <!--Стоимость-->
    <v-col cols="3" >
      <v-text-field
        class
        v-model.number="order.amount"
        :rules="[rules.onlyPositive, rules.required]"
        :suffix="placeSuffix"
        type="number"
        step="1"
        min="0"
        max="100000"
        color="teal"
        dense
        outlined
        label="Стоимость"
        autocomplete="off"
      />
    </v-col>
    <!--Количество единиц услуги-->
    <v-col cols="3">
      <v-text-field
        class
        v-model.number="order.itemsCount"
        :rules="[rules.onlyInt, rules.onlyPositive, rules.required]"
        type="number"
        min="1"
        max="100"
        color="teal"
        dense
        outlined
        label="Количество единиц услуги"
        autocomplete="off"
      />
    </v-col>
    <!--Стоимость переноса-->
    <v-col cols="3">
      <v-text-field
        class
        v-model.number="order.compensationTransferCosts"
        :rules="[rules.onlyPositive]"
        :suffix="placeSuffix"
        type="number"
        step="1"
        min="0"
        max="1000000"
        color="teal"
        dense
        outlined
        label="Стоимость переноса"
        autocomplete="off"
      />
    </v-col>
    <!--Макс. количество переносов-->
    <v-col cols="3">
      <v-text-field
        class
        v-model.number="order.numberOfTransfers"
        :rules="[rules.onlyInt, rules.onlyPositive]"
        type="number"
        step="1"
        min="0"
        max="10000"
        color="teal"
        dense
        outlined
        label="Макс. количество переносов"
        autocomplete="off"
      />
    </v-col>
    <!--Дата заказа-->
    <v-col cols="3"  v-if="order.createdAt">
      <v-text-field
        outlined
        dense
        :value="formattedDate(order.createdAt)"
        color="teal"
        label="Дата заказа"
        readonly
      ></v-text-field>
    </v-col>
    <!-- Дата начала заказа-->
    <v-col cols="3">
      <v-menu
        v-model="menuDateStart"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            outlined
            dense
            :value="formattedDate(order.startDate)"
            color="teal"
            label="Дата начала заказа"
            prepend-inner-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-card>
          <v-date-picker
            :max="order.finishDate"
            header-color="teal lighten-3"
            first-day-of-week="1"
            locale="ru"
            v-model="order.startDate"
          >
            <v-btn text color="error" @click="order.startDate = ''; menuDateStart = false">Сбросить</v-btn>
            <v-spacer />
            <v-btn text color="teal" @click="menuDateStart = false">Выбрать</v-btn>
          </v-date-picker>
        </v-card>
      </v-menu>
    </v-col>
    <!-- Дата окончания заказа-->
    <v-col cols="3">
      <v-menu
        v-model="menuDateEnd"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            outlined
            dense
            :value="formattedDate(order.finishDate)"
            color="teal"
            label="Дата окончания заказа"
            prepend-inner-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          :min="order.startDate"
          header-color="teal lighten-3"
          first-day-of-week="1"
          locale="ru"
          v-model="order.finishDate"
        >
          <v-btn text color="error" @click="order.finishDate = ''; menuDateEnd = false">Сбросить</v-btn>
          <v-spacer />
          <v-btn text color="teal" @click="menuDateEnd = false">Выбрать</v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>
    <!--Количество дней-->
    <v-col md="3">
      <v-text-field
        class
        v-model.number="order.expireDays"
        :rules="[rules.onlyInt, rules.onlyPositive]"
        type="number"
        step="1"
        min="0"
        max="365"
        color="teal"
        dense
        outlined
        label="Количество дней"
        autocomplete="off"
      />
    </v-col>
    <!-- Оплатить в течение-->
    <v-col cols="3" >
      <v-text-field
        class
        v-model.number="order.payWithin"
        :rules="[rules.onlyInt, rules.onlyPositive]"
        type="number"
        step="1"
        min="0"
        max="10000"
        color="teal"
        dense
        outlined
        label="Оплатить в течение"
        autocomplete="off"
      />
    </v-col>
    <!--Скидка-->
    <v-col v-for="(d, idx) in order.discounts" :key="idx" cols="3">
      <mapa-discount-field
        v-model="order.discounts[idx]"
        @delete="$emit('deleteDiscount', d)"
        :discounts="order.discounts"
        :count="idx"
        :rules="[rules.onlyPositive]"
      ></mapa-discount-field>
    </v-col>

    <!-- Автопродление-->
    <v-col v-if="!order.finishDate" cols="auto ml-auto">
      <v-switch v-model="order.isAutoRenewable" label="Автопродление" class="mt-0" color="teal lighten-2"></v-switch>
    </v-col>
    <!--Мини делитель-->
    <v-col cols="12" class="mt-n3 pb-3" />
    <!--Комментарий-->
    <v-col class="mt-8">
      <v-textarea v-model="order.comment" color="teal" outlined rows="3" label="Комментарий"></v-textarea>
    </v-col>
    <!--Делитель-->
    <v-col cols="12" class="mt-n3">
      <v-divider class="grey darken-3"></v-divider>
    </v-col>
  </v-row>
</template>

<script>
import {
  required,
  onlyInt,
  onlyPositive,
  requiredSelect
} from '../../../utility/validRules'
import { formattedDate } from '../../../utility/date'
import MapaDiscountField from '../../MapaDiscountField'

export default {
  name: 'formByPlan',
  data() {
    return {
      menuDateStart: false,
      menuDateEnd: false,
      rules: {
        required,
        onlyInt,
        onlyPositive,
        requiredSelect
      },
      placeSuffix: 'руб'
    }
  },
  components: {
    MapaDiscountField
  },
  props: {
    order: {
      type: Object,
      required: true
    }
  },
  methods: {
    formattedDate(d) {
      return formattedDate(d)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
